<nb-card class="">
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">录入成功！</span>
    </div>
  </nb-card-header>
  <nb-card-body class="text-center">
    <h1>恭喜！过户录入成功！[201711290001]</h1>
    <div>
      <select name="" class="form-control">
        <option value="">按批次打印（列表）</option>
        <option value="">按流水号打印（单张）</option>
      </select>
    </div>
    <div class="height"></div>
    <div>
      <img src="assets/images/qrcode.jpg" />
    </div>

    <div class="details">
      <div class="title">
        过户流水单:201711290001<br />
        过户批次号:201711290001
      </div>
      <button type="button" class="btn btn-primary" (click)="toPrint()">打印</button>
      <!--<button type="button" class="btn btn-primary" (click)="toContinue()">继续添加</button>-->
      <button type="button" class="btn btn-primary" (click)="onJudication()">审核</button>
    </div>
  </nb-card-body>
</nb-card>
