<nb-card>
  <nb-card-header class="d-flex">
    <div class="p-2 mr-auto">{{marketName}}-市场证件</div>
    <div class="p4">
      <button type="button" class="btn btn-info btn-block" (click)='add()'>添加</button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ngx-table #codeList [url]="'/rest/sys/market/photo/config/pager'"  [columns]="columns" [filter]="filter"></ngx-table>
  </nb-card-body>
  <nb-card-footer>
    <div class="row">
      <div class="col-sm-1 col-sm-offset-11">
        <button type="button" class="btn btn-default btn-block" (click)='back()'>返回</button>
        <hr>
        <ul>
           <li *ngFor="let item of business ;let i = index" (click)='selecctBusiness(item,$event,i)'>
              <h3> {{item}}</h3>
               <div>
                    <ul>
                       <li *ngFor="let item of CertificateCode"  >
                          <h3 (click)='selectCertificateCode(item,$event)'>{{item}}</h3>
                           <div>
                              <ul>
                                <li *ngFor="let item of formName">
                                   <h4 (click)='selectFormName(item,$event)'>{{item}}</h4>
                                </li>
                              </ul>
                           </div>
                       </li>
                    </ul>
               </div>
            </li>
        </ul>
      </div>
    </div>
    <hr>
    <!-- <p-tabView  (onChange)='selecctBusiness(item,$event,i)'>
        <p-tabPanel header="{{item}}"  *ngFor="let item of business ;let i = index"  >
          <div class="row" style="height:600px;margin-top:50px">
            <div class="col-md-2">
              <p class="center">证件类型</p>
              <ul>
                <li *ngFor="let item of CertificateCode">{{item}} </li>
              </ul>
            </div>
            <div class="col-md-2">
              <p class="center">表单名称</p>
            </div>
            <div class="col-md-8">
              <p class="center">证件配置详细</p>
            </div>
          </div>
        </p-tabPanel>
    </p-tabView> -->
  </nb-card-footer>
</nb-card>
<!-- 1.业务类型 2.证件类型 3.表单名称 -->
