<nb-card>
    <nb-card-header class="d-flex">
        <div class="p-2 mr-auto">{{marketName}}-业务费用</div>
        <div class="p4">
            <button type="button" class="btn btn-info btn-sm" (click)='add()'>添加</button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <ngx-table #codeList [url]="'/rest/manager/market/cost/pager'" [columns]="columns" [filter]="filter"></ngx-table>
    </nb-card-body>
    <nb-card-footer>
        <div class="row">
            <div class="col-sm-1 col-sm-offset-11">
                <button type="button" class="btn btn-default btn-sm" (click)='back()'>返回</button>
            </div>
        </div>
    </nb-card-footer>
</nb-card>

 <ng-template #priceTypeCell let-data>{{data.priceType | priceTypePipe}}</ng-template>

  <ng-template #invoice let-data> {{data.invoice  | feeBooleanPipe}}</ng-template>
  <ng-template #discount let-data>{{data.discount | feeBooleanPipe}}</ng-template>
  <ng-template #required let-data>{{data.required | feeBooleanPipe}}</ng-template>
