<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">控件演示</span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="input-group">
      <ngx-ys-calendar [placeholder]="'截至日期'" (_calendarValue)="getYsCalendarValue($event)"></ngx-ys-calendar>
      <button class="btn btn-primary btn-sm" (click)="showYsCalendarValue()">从父组件获取时间</button>
      <ngx-ys-calendar [placeholder]="'某个月'" [dateFormat]="'yy-mm'" (_calendarValue)="getYsCalendarValue2($event)"></ngx-ys-calendar>
      <button class="btn btn-primary btn-sm" (click)="showYsCalendarValue2()">只选月份</button>
    </div>
    <ngx-ys-camera *ngFor="let photo of photos" [title]="photo.title" [source]="photo.source"></ngx-ys-camera>
    <div class="input-group">
      <input type="text" placeholder="车牌号" class="form-control" [(ngModel)]="car.lsnum"/>
      <input type="text" placeholder="车架号" class="form-control" />
      <button class="btn btn-primary btn-sm" (click)="readCard()">从测试图一中读取行驶证</button>
    </div>
    <div class="input-group">
      <input type="text" placeholder="发动机号" class="form-control" />
      <input type="text" placeholder="登记证号" class="form-control" />
      <input type="text" placeholder="厂牌型号" class="form-control" />
      <input type="text" placeholder="手续费" class="form-control" />
    </div>
    <div class="input-group">
      <input type="text" placeholder="车费类型" class="form-control" />
      <input type="text" placeholder="车辆大小" class="form-control" />
    </div>
    <div class="input-group">
      <input type="text" placeholder="使用年限" class="form-control" />
      <input type="text" placeholder="行驶证地址" class="form-control" />
    </div>
    <div class="input-group">
      <input type="text" placeholder="累计里程" class="form-control" />
      <input type="text" placeholder="交易价格" class="form-control" />
      <input type="text" placeholder="使用性质" class="form-control" />
      <input type="text" placeholder="评估费" class="form-control" />
    </div>
    <div class="input-group">
      <input type="text" placeholder="年审有效期" class="form-control" />
      <input type="text" placeholder="保险有效期" class="form-control" />
      <input type="text" placeholder="路桥有效期" class="form-control" />
    </div>
    <div class="float-right">
      <button class="btn btn-primary btn-lg" (click)="onSubmit()">保存</button> &nbsp;
      <button class="btn btn-primary btn-lg" (click)="reBack()">返回</button>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <span> &nbsp; &nbsp; * 本示例用于前端开发组编写包含控件功能页面时参考 </span>
  </nb-card-footer>
</nb-card>
