<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">{{pageTitle || '业务查询'}}</span>
    </div>
  </nb-card-header>



  <nb-card-body *ngIf="!canEdit && trade">
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">车辆流水号</span>
        <input class="form-control" type="number" placeholder="输入车辆流水号" [(ngModel)]="trade.archiveNo" #archiveNo/>
        <button class="btn btn-primary btn-sm" (click)="getTradeByArchiveNo(archiveNo.value)" [disabled]="archiveNo.value.length !== 16">查询</button>
      </div>
      <div class="input-group">
        <span class="input-group-addon">代办商户</span>
        <label class="form-control">{{ trade.preVehicle.preVehicle.merchant.name }}</label>
        <!--<ngx-ys-autoinput [results_resource_url]="autoinput_shanghu_source_url"-->
        <!--(_value)="getSelectedDealer($event)"-->
        <!--[showProperty]="'name'"-->
        <!--[disabled]="true"-->
        <!--[defaultValue]="dealer"-->
        <!--&gt;</ngx-ys-autoinput>-->
      </div>
    </div>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">代办人</span>
        <label class="form-control">{{trade.preVehicle.preVehicle.filingInfo.name || ''}}</label>
        <!--<select class="form-control" [disabled]="true" [(ngModel)]="linkman" (change)="linkmanSelecteFunc()" [compareWith]="linkmanCompareWithFunc">-->
        <!--<option value="">&#45;&#45;请选择&#45;&#45;</option>-->
        <!--<option *ngFor="let linkmanitem of linkManData" [ngValue]="linkmanitem">{{linkmanitem.name}}</option>-->
        <!--</select>-->
      </div>
      <div class="input-group">
        <span class="input-group-addon">代办人手机</span>
        <input class="form-control" type="text"  [disabled]="true" [value]="trade.preVehicle.preVehicle.filingInfo.phone || null "/>
      </div>
    </div>
    <div class="prompt">{{prompt}}</div>
  </nb-card-body>



  <nb-card-body *ngIf="canEdit && trade">
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">车辆流水号</span>
        <input class="form-control" type="number" placeholder="输入车辆流水号" [(ngModel)]="trade.archiveNo" #archiveNo/>
        <button class="btn btn-primary btn-sm" (click)="getTradeByArchiveNo(archiveNo.value)" [disabled]="archiveNo.value.length !== 16">查询</button>
      </div>
      <div class="input-group">
        <span class="input-group-addon">代办商户</span>
        <!--<label class="form-control">{{trade.preVehicle.preVehicle.merchant.name || ''}}</label>-->
        <ngx-ys-autoinput
          [results_resource_url]="autoinput_shanghu_source_url"
          (_value)="getSelectedMerchant($event)"
          [showProperty]="'name'"
          [disabled]="false"
          [defaultValue]="trade.preVehicle.preVehicle.merchant"
        ></ngx-ys-autoinput>
      </div>
    </div>
    <div class="input-group" *ngIf="filingInfoData">
      <div class="input-group">
        <span class="input-group-addon">代办人</span>
        <!--<label class="form-control">{{trade.preVehicle.preVehicle.filingInfo.name || ''}}</label>-->
        <!--<label class="form-control">{{trade.seller.seller.name || ''}}</label>-->
        <select class="form-control" [disabled]="false" [(ngModel)]="filingInfo" (change)="filingInfoSelecteFunc()" [compareWith]="filingInfoCompareWithFunc">
          <option value="">--请选择--</option>
          <option *ngFor="let filingInfoItem of filingInfoData" [ngValue]="filingInfoItem">{{filingInfoItem.name}}</option>
        </select>
      </div>
      <div class="input-group">
        <span class="input-group-addon">代办人手机</span>
        <input class="form-control" type="text"  [disabled]="true" [value]="trade.preVehicle.preVehicle.filingInfo.phone || null "/>
      </div>
    </div>
    <div class="prompt">{{prompt}}</div>
  </nb-card-body>
</nb-card>
