.sucessPrint{
  font-size: 1.5rem;
}
.successNewNo{
  font-size: 4rem;
  font-weight: bolder;
  color: #DD1146;
}
.tipError{
  margin-left: 29%;
  padding: 10px 20px;
  border: 1px solid black;
  width: 40%;
  border-radius: 5%;
}
.link{
  cursor: pointer;
}
