nb-card-body table {
  width: 100% !important;
  border-collapse: collapse; /*相邻边被合并;separate: 边框独立*/
  //border: none;
  tr {
    width: 100%;
    td {
      text-align: center;
      padding: 10px;
    }
    th {
      text-align: center;
      padding: 10px;
    }
  }
};
.right {
  float: right;
}
.reader {
  width: 40% !important;
}
.height {
  height: 20px;
}
nb-card-body {
  position: relative;
  span {
    position: absolute;
    right: 5%;
    em {
      font-size: 50px;
    }
  }
}

nb-card{
  min-height: 600px;
}

