<nb-card>
  <nb-card-header class="d-flex">
    <div class="p-2 mr-auto">商户备案</div>
    <div class="p2">
      <a class="btn btn-primary btn-sm" [routerLink]="'add'">添加商户</a>
      <button name="togglebtn" type="button" class="btn btn-sm btn-outline-success"
              (click)="toggle()" [ngClass]="{'active':showFilter}"
      ><i class="ion-funnel"></i></button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form (submit)="itemList.reload()" *ngIf="showFilter">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group form-group-sm">
            <input name="name" class="form-control" [(ngModel)]="filter.name" type="text" placeholder="商户名称"/>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group form-group-sm">
            <input name="code" class="form-control" [(ngModel)]="filter.code" type="text" placeholder="商户编码"/>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group form-group-sm">
            <input name="phone" class="form-control" [(ngModel)]="filter.phone" type="text" placeholder="联系方式"/>
          </div>
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn btn-primary btn-block"><i class="ion-search"></i>查询</button>
        </div>
      </div>
    </form>

    <div *ngIf="showSonForm">
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group form-group-sm">
            <input class="form-control" #sonName type="text" placeholder="商户名称"/>
          </div>
        </div>
        <div class="col-sm-2">
          <button class="btn btn btn-primary btn-block" (click)="saveSon(sonName.value)">创建子商户</button>
        </div>
        <div class="col-sm-2">
          <button class="btn btn btn-primary btn-block" (click)="showSonForm = false">关闭</button>
        </div>
      </div>
    </div>
    <ngx-table [url]="'/rest/merchant/pager'" #itemList [columns]="columns" [filter]="filter"></ngx-table>
  </nb-card-body>
</nb-card>
<ng-template #isPersonalTemp let-data>{{data.isPersonal === '1' ? '个人' : (data.isPersonal === '0' ? '机构' : '')}}</ng-template>
<ng-template #disableSignTemp let-data>{{data.disableSign === '1' ? '已启用' : '已禁用'}}</ng-template>
