<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">车辆过户信息</span>
    </div>
  </nb-card-header>
  <nb-card-body [formGroup]="transferVehicle">
    <!--<ngx-ys-dynamic-photo-form *ngIf="certificateFormConfig"-->
       <!--[photos]="transferVehicle.get('_photos_')"-->
       <!--[certificateFormConfig]="certificateFormConfig"-->
       <!--[data_localStrong_name]="'dynamic_photos_car-transfer'"-->
       <!--[btn_show]="btn_show"-->
    <!--&gt;</ngx-ys-dynamic-photo-form>-->
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">转出地车管所</span>
        <!-- TODO: 这一块还有问题，未能显示字段值的子属性，在处理车管所时必须此特性！-->
        <!--<ngx-ys-autoinput-->
          <!--[results_resource_url]="'/rest/manager/vehicle/management/list/'"-->
          <!--(_value)="getSelectedVehicleManagement($event)"-->
          <!--[showProperty]="'createTime'"-->
          <!--[defaultValue]="transferVehicle.get('vehicleManagement').value"-->
        <!--&gt;</ngx-ys-autoinput>-->
        <input type="text" placeholder="" class="form-control" formControlName="vehicleManagement"
               [ngClass]="{'form-control-danger':transferVehicle.get('vehicleManagement').invalid && transferVehicle.get('vehicleManagement').touched}"/>
        <ngx-valid-error [errors]="errors.vehicleManagement" [control]="transferVehicle.get('vehicleManagement')"></ngx-valid-error>
      </div>
      <div class="input-group">
        <span class="input-group-addon">成交价格</span>
        <input type="text" placeholder="" class="form-control" formControlName="bargainPrice"
               [ngClass]="{'form-control-danger':transferVehicle.get('bargainPrice').invalid && transferVehicle.get('bargainPrice').touched}"/>
        <ngx-valid-error [errors]="errors.bargainPrice" [control]="transferVehicle.get('bargainPrice')"></ngx-valid-error>
      </div>
    </div>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">评估价格</span>
        <input type="text" placeholder="" class="form-control" formControlName="evaluatePrice"
               [ngClass]="{'form-control-danger':transferVehicle.get('evaluatePrice').invalid && transferVehicle.get('evaluatePrice').touched}"/>
        <ngx-valid-error [errors]="errors.evaluatePrice" [control]="transferVehicle.get('evaluatePrice')"></ngx-valid-error>
      </div>
      <div class="input-group">
        <span class="input-group-addon">发票备注</span>
        <input type="text" placeholder="" class="form-control" formControlName="billMemo"
               [ngClass]="{'form-control-danger':transferVehicle.get('billMemo').invalid && transferVehicle.get('billMemo').touched}"/>
        <ngx-valid-error [errors]="errors.billMemo" [control]="transferVehicle.get('billMemo')"></ngx-valid-error>
      </div>
      <div class="input-group">
        <span class="input-group-addon">手续费</span>
        <input type="text" placeholder="" class="form-control" formControlName="fee"
               [ngClass]="{'form-control-danger':transferVehicle.get('fee').invalid && transferVehicle.get('fee').touched}"/>
        <ngx-valid-error [errors]="errors.fee" [control]="transferVehicle.get('fee')"></ngx-valid-error>
      </div>
    </div>
  </nb-card-body>
</nb-card>
