<nb-card >
  <nb-card-header class="d-flex">
    <div class="p-2 mr-auto">备案人列表 -- {{ merchantName }}</div>
    <div class="p2">
      <button type="button" class="btn btn-success btn-sm" (click)="addLinkman()">添加备案人</button>
      <button name="togglebtn" type="button" class="btn btn-sm btn-outline-success"
              (click)="toggle()" [ngClass]="{'active':showFilter}"
      ><i class="ion-funnel"></i></button>
      <button type="button" class="btn btn-warning btn-sm" (click)="location.back()">关闭</button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form (submit)="itemList.reload()" *ngIf="showFilter">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group form-group-sm">
            <input name="name" class="form-control" [(ngModel)]="filter.name" type="text" placeholder="姓名"/>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group form-group-sm">
            <input name="phone" class="form-control" [(ngModel)]="filter.phone" type="text" placeholder="电话"/>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group form-group-sm">
            <input name="code" class="form-control" [(ngModel)]="filter.filingPerson.certCode" type="text" placeholder="证件号"/>
          </div>
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn btn-primary btn-block"><i class="ion-search"></i>查询</button>
        </div>
      </div>
    </form>
    <ngx-table [url]="'/rest/merchant/filing/pager?merchantId=' + merchantId" [columns]="columns" #itemList [filter]="filter"></ngx-table>
  </nb-card-body>
</nb-card>

<ng-template #disableSignTemp let-data><a href="javascript:void(0)" (click)="changeDisableSign(data)" title="点击修改在职状态" [style]="data.disableSign !== '1' ? 'color:#ccc' : ''">当前{{data.disableSign === '1' ? '在职' : '离职'}}</a></ng-template>
