<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">表单控件演示</span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <span> &nbsp; &nbsp; * 表格控件已经非常好用了，只需要输入相匹配的URL地址，配置好列即可完成整个表格的显示 </span> <br>
    <span> &nbsp; &nbsp; * 表格控件对应的搜索表单并不太方便，仍然每一个细节都需要自己一点点手写，又都大同小异，下面演示一个搜索表单的编写 </span>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">搜索表单演示</span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <span> &nbsp; &nbsp; * 搜索表单是和表格控件绑定使用的，一般只需要正常显示做好表单验证即可 </span> <br>

    <ngx-form-filter></ngx-form-filter>
    <ng-template #itemList></ng-template>

  </nb-card-body>
</nb-card>
