<nb-card>
    <nb-card-header>车辆黑名单维护</nb-card-header>
    <nb-card-body>
        <form [formGroup]="form" (ngSubmit)="save()" class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>车牌号:</label>
                        <input type="text" class="form-control" formControlName="plateNumber" placeholder="车牌号" [ngClass]="{'form-control-danger':form.get('plateNumber').hasError('required') && form.get('plateNumber').touched}">
                    </div>
                    <div class="text-danger" *ngIf="form.get('plateNumber').hasError('required') && form.get('plateNumber').touched">
                        -- 必须输入车牌号
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>理由:</label>
                        <input type="text" class="form-control" formControlName="lockReason" placeholder="理由" [ngClass]="{'form-control-danger':form.get('lockReason').hasError('required') && form.get('lockReason').touched}">
                    </div>
                    <div class="text-danger" *ngIf="form.get('lockReason').hasError('required') && form.get('lockReason').touched">
                        -- 必须输入理由
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary btn-sm" [disabled]="form.invalid">保存</button> &nbsp;
                <button type="button" class="btn btn-info btn-sm" (click)='back()' >返回</button>
              </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>
