<ngx-ys-batch-no
  [pageTitle]="'过户业务 - 过户审核'"
  [batchNo]="batchNo"
  [batchNoType]="'trans'"
  (_tradeList)="getTradeListByArchiveNoComponent($event)"
  (_trade)="getTradeByArchiveNoComponent($event)"
></ngx-ys-batch-no>

<ngx-ys-carlist
  *ngIf="tradeList"
  [tradeList]="tradeList"
  [car_list_title]="'审核车辆列表'"
  (_selected)='onChangeSelected($event)'
  (_checkCars)="onChangeCheckCars($event)"
  [listType]="'checkbox'"
></ngx-ys-carlist>

<ngx-ys-cardetail
  *ngIf="tradeList"
  [car_detail_title]="'车辆信息'"
  [vehicleObj]="_formGroupVehicle"
  [certificateFormConfig]="{formName: '预审录入车辆'}"
  [btn_show]="false"
></ngx-ys-cardetail>

<ngx-ys-car-transfer
  *ngIf="tradeList"
  [transferVehicleObj]="_formGroupTransferVehicle"
  [certificateFormConfig]="{formName: '过户录入车辆'}"
></ngx-ys-car-transfer>

<div class="float-right">
  <button class="btn btn-primary btn-lg" (click)="onSubmit()">下一步</button>
</div>
