<nb-card>
  <nb-card-header class="d-flex">
    <div class="p-2 mr-auto">商户账户维护</div>
    <div class="p2">
      <a class="btn btn-primary btn-sm" (click)="jump()">添加账户</a>
      <a class="btn btn-primary btn-sm">挂失</a>
      <a class="btn btn-primary btn-sm">解绑</a>
      <a class="btn btn-primary btn-sm" (click)="goBack()">返回</a>
      <button type="button" class="btn btn-sm btn-outline-success" (click)="toggle()" [ngClass]="{'active':showFilter}" ><i class="ion-funnel"></i></button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [@visibilityChanged]="visibility">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group form-group-sm">
            <input class="form-control" [(ngModel)]="filter.code"  name="name" type="text" placeholder="卡号"/>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group form-group-sm">
            <input class="form-control" name="code" type="text" placeholder="商户编号"/>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group form-group-sm">
            <input class="form-control" name="phone" type="text" placeholder="账户名称"/>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group form-group-sm">
            <input class="form-control" name="phone" type="text" placeholder="账户号"/>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group form-group-sm">
            <select name="" class="form-control">
              <option value="">卡片状态</option>
              <option value="">已绑卡</option>
              <option value="">未绑卡</option>
            </select>
          </div>
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn btn-primary btn-block"><i class="ion-search"></i>查询</button>
        </div>
      </div>
    </form>
    <ngx-table [url]="'/rest/merchant/pager'" #itemList [columns]="columns" [filter]="filter"></ngx-table>
  </nb-card-body>
</nb-card>
