nb-card-body table {
  width: 100% !important;
  border-collapse: collapse; /*相邻边被合并;separate: 边框独立*/
  //border: none;
  tr {
    width: 100%;
    td {
      text-align: center;
      padding: 10px;
    }
    th {
      text-align: center;
      padding: 10px;
    }
  }
};
.reader {
  width: 40% !important;
}
/*nb-card-body {
  position: relative;
  span {
    position: absolute;
    right: 5%;
    em {
      font-size: 50px;
    }
  }
}*/
.input-custom {
  display: inline-block !important;
  width: 60% !important;
}
.form-group span {
  display: inline-block;
  padding: 1rem;
}
.span-padding select {
  display: inline-block !important;
  width: 40% !important;
}
h3 {
  text-align: center;
}
.time-area {
  text-align: center;
}
.height {
  height: 20px;
}
.margin-top {
  padding: 30px;
  border: 1px solid darkgrey;
}
/*form {
  overflow: hidden;
}*/

