<nb-card>
  <nb-card-header class="d-flex">
    <div class="p-2 mr-auto">各交易单位交易明细表报表查看</div>
    <div class="p2">
      <!--<a [routerLink]="'edit'" class="btn btn-primary btn-sm">新增</a>-->
      <button type="button" class="btn btn-sm btn-outline-success" (click)="toggle(visibility)" [ngClass]="{'active':showFilter}" ><i class="ion-funnel"></i></button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [@visibilityChanged]="visibility" (submit)="codeList.reload()">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group form-group-sm">
            <span>报表时间：</span>
            <ngx-ys-calendar class="input-custom" [placeholder]="'起止日期'"></ngx-ys-calendar>
            <!--<input class="form-control input-custom" name="years" [(ngModel)]="time.start" type="text" placeholder=""/>-->
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group form-group-sm">
            <ngx-ys-calendar class="input-custom" [placeholder]="'截止日期'"></ngx-ys-calendar>
            <!--<input class="form-control input-custom" name="years" [(ngModel)]="time.end" type="text" placeholder=""/>-->
          </div>
        </div>
        <div class="col-sm-2 form-group">
          <button type="submit" class="btn btn btn-primary"><i class="ion-search"></i>查询</button>
        </div>
        <div class="col-sm-2 form-group">
          <button type="reset" class="btn btn-outline-primary" ><i class="ion-archive"></i>导出</button>
        </div>
      </div>
    </form>
    <div class="height"></div>
    <div class="padding">
      <h3>商户交易明细表</h3>
      <div class="height"></div>
      <table border="1">
        <tr>
          <th rowspan="2">序号</th>
          <th rowspan="2">编号</th>
          <th rowspan="2">商户名称</th>
          <th>交易量</th>
          <th>预审量</th>
          <th>作废发票</th>
          <th>交易额</th>
          <th>手续费</th>
          <th>其他费用</th>
        </tr>
        <tr>
          <td>（辆）</td>
          <td>（辆）</td>
          <td>（张）</td>
          <td>（万元）</td>
          <td>（元）</td>
          <td>（元）</td>
        </tr>
        <tr>
        </tr>
      </table>
    </div>
  </nb-card-body>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-5"></div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary" (click)="goBack()">返回</button>
      </div>
      <div class="col-sm-5"></div>
    </div>
  </nb-card-body>
</nb-card>

