<nb-card>
  <nb-card-header class="d-flex">
    <div class="p-2 mr-auto">各交易单位交易明细表报表查看</div>
    <div class="p2">
      <button type="button" class="btn btn-sm btn-outline-success" (click)="toggle(visibility)" [ngClass]="{'active':showFilter}" ><i class="ion-funnel"></i></button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [@visibilityChanged]="visibility">
      <ngx-report-form-search  (btn_search)="search($event)" (btn_export)="export($event)" [startText]="'开始时间'" [endText]="'结束时间'" >
      </ngx-report-form-search>
    </form>
    <div class="height"></div>
    <div class="padding">
      <h3>商户交易明细表</h3>
      <div class="height"></div>
      <table border="1">
        <tr>
          <th rowspan="2">序号</th>
          <th rowspan="2">编号</th>
          <th rowspan="2">商户名称</th>
          <th>交易量</th>
          <th>预审量</th>
          <th>作废发票</th>
          <th>交易额</th>
          <th colspan="2">手续费</th>
          <th colspan="2">充值</th>
        </tr>
        <tr>
           <td>(辆)</td>
           <td>(辆)</td>
           <td>(张)</td>
           <td>(元)</td>
           <td>二手车(元)</td>
           <td>市场(元)</td>
           <td>二手车(元)</td>
           <td>市场(元)</td>
        </tr>
        <tr *ngFor="let item of dataList ; let i = index">
          <th>{{i+1}}</th>
          <th>{{item.code}}</th>
          <th>{{item.name}}</th>
          <th>{{item.count}}</th>
          <th>{{item.plantCount}}</th>
          <th>{{item.obs}}</th>
          <th>{{item.bargainPrice}}</th>
          <th>{{item.fee}}</th>
          <th>{{item.marketFee}}</th>
          <th>{{item.recharge}}</th>
          <th>{{item.marketRecharge}}</th>
        </tr>
      </table>
    </div>
  </nb-card-body>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-5"></div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary" (click)="goBack()">返回</button>
      </div>
      <div class="col-sm-5"></div>
    </div>
  </nb-card-body>
</nb-card>

