<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">预审业务 - 预审录入 4 - 信息确认</span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">车牌号</span>
        <input class="form-control" placeholder="请输入车牌号" type="text" [(ngModel)]="vehicle.plateNumber"
               [disabled]="true"/>
      </div>
      <div class="input-group">
        <span class="input-group-addon">代办商户</span>
        <ngx-ys-autoinput [results_resource_url]="autoinput_shanghu_source_url"
                          (_value)="getSelectedDealer($event)"
                          [showProperty]="'name'"
                          [disabled]="true"
                          [defaultValue]="dealer"
        ></ngx-ys-autoinput>
      </div>
    </div>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">代办联系人</span>
        <select class="form-control" [disabled]="true" [(ngModel)]="linkman" (change)="linkmanSelecteFunc()" [compareWith]="linkmanCompareWithFunc">
          <option value="">--请选择--</option>
          <option *ngFor="let linkmanitem of linkManData" [ngValue]="linkmanitem">{{linkmanitem.name}}</option>
        </select>
      </div>
      <div class="input-group">
        <span class="input-group-addon">联系人手机</span>
        <input class="form-control" placeholder="请先选择商户和联系人" type="text"  [disabled]="true" [value]="linkmanSelected.phone || null "/>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<ngx-ys-seller-info [merchant]="merchant" [CERTIFICATE_TYPE_LIST]="CERTIFICATE_TYPE_LIST" [seller]="_formGroup.controls.seller" [errors]="errors.seller" [btn_show]="false"></ngx-ys-seller-info>
<ngx-ys-cardetail [photos]="photos" [vehicle]="_formGroup.controls.vehicle" [errors]="errors.vehicle" [btn_show]="false"></ngx-ys-cardetail>
<div class="float-right">
  <button class="btn btn-primary btn-lg" (click)="onSubmit()">确认提交</button>
</div>
