<nb-card>
  <nb-card-header class="d-flex">
    <div class="p-2 mr-auto">二手车业务日交易情况汇总表</div>
    <div class="p2">
      <button type="button" class="btn btn-sm btn-outline-success" (click)="toggle(visibility)" [ngClass]="{'active':showFilter}" ><i class="ion-funnel"></i></button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [@visibilityChanged]="visibility">
      <ngx-report-form-search  (btn_search)="search($event)" (btn_export)="export($event)" [startText]="'开始时间'" [endText]="'结束时间'" >
      </ngx-report-form-search>
    </form>
    <div class="height"></div>
    <div>
      <h3>汉口北当日金额对账表二手车业务</h3>
      <div class="height"></div>
      <table border="1">
        <tr>
          <th>类别</th>
          <th>收费标准</th>
          <th>数量</th>
          <th>总额</th>
          <th>未支付额</th>
          <th>未支数量</th>
          <th>已撤销额</th>
          <th>已撤销数量</th>
          <th>待撤销额</th>
          <th>待撤销数量</th>
        </tr>
        <tr *ngFor="let item of dataList">
          <th>{{item.businessType | code_trans: 'businessType' | async}}</th>
          <th>{{item.shouldAmount}}</th>
          <th>{{item.count}}</th>
          <th>{{item.sum}}</th>
          <th>{{item.noPayCount}}</th>
          <th>{{item.noPaySum}}</th>
          <th>{{item.repealCount}}</th>
          <th>{{item.repealSum}}</th>
          <th>{{item.waitCount}}</th>
          <th>{{item.waitSum}}</th>
        </tr>
      </table>
    </div>
    <div class="height"></div>
    <div class="row">
      <div class="col-sm-5"></div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary" (click)="goBack()">返回</button>
      </div>
      <div class="col-sm-5"></div>
    </div>
  </nb-card-body>
</nb-card>

