div {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 300px;
  background-color: #5e5e5e;
  z-index: 2147483647;
  overflow:scroll;
  //overflow: hidden;
}
div img {
  position: absolute;
  max-width: none;
  max-height: none;
  width: 100%;
  height: auto;
}
