<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">{{ car_detail_title || '车辆信息'}}</span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ngx-ys-camera *ngFor="let photo of photos" [title]="photo.title" [source]="photo.source"></ngx-ys-camera>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">车牌号</span>
        <input type="text" placeholder="" class="form-control" />
      </div>
      <div class="input-group">
        <span class="input-group-addon">车架号</span>
        <input type="text" placeholder="" class="form-control" />
      </div>
      <button class="btn btn-primary btn-sm" (click)="read(RecordModel)">读取行驶证</button>
    </div>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">发动机号</span>
        <input type="text" placeholder="" class="form-control" />
      </div>
      <div class="input-group">
        <span class="input-group-addon">登记证号</span>
        <input type="text" placeholder="" class="form-control" />
      </div>
      <div class="input-group">
        <span class="input-group-addon">厂牌型号</span>
        <input type="text" placeholder="" class="form-control" />
      </div>
      <div class="input-group">
        <span class="input-group-addon">手续费</span>
        <input type="text" placeholder="" class="form-control" />
      </div>
    </div>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">车费类型</span>
        <input type="text" placeholder="" class="form-control" />
      </div>
      <div class="input-group">
        <span class="input-group-addon">车辆大小</span>
        <input type="text" placeholder="" class="form-control" />
      </div>
    </div>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">使用年限</span>
        <input type="text" placeholder="" class="form-control" />
      </div>
      <div class="input-group">
        <span class="input-group-addon">行驶证地址</span>
        <input type="text" placeholder="" class="form-control" />
      </div>
    </div>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">累计里程</span>
        <input type="text" placeholder="" class="form-control" />
      </div>
      <div class="input-group">
        <span class="input-group-addon">交易价格</span>
        <input type="text" placeholder="" class="form-control" />
      </div>
      <div class="input-group">
        <span class="input-group-addon">使用性质</span>
        <input type="text" placeholder="" class="form-control" />
      </div>
      <div class="input-group">
        <span class="input-group-addon">评估费</span>
        <input type="text" placeholder="" class="form-control" />
      </div>
    </div>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">年审有效期</span>
        <input type="text" placeholder="" class="form-control" />
      </div>
      <div class="input-group">
        <span class="input-group-addon">保险有效期</span>
        <input type="text" placeholder="" class="form-control" />
      </div>
      <div class="input-group">
        <span class="input-group-addon">路桥有效期</span>
        <input type="text" placeholder="" class="form-control" />
      </div>
    </div>
  </nb-card-body>
</nb-card>
