<ngx-ys-archive-no
  [pageTitle]="'预审业务 - 预审录入 - 批量添加车辆'"
  [archiveNo]="archiveNo"
  (_tradeList)="getTradeListByArchiveNoComponent($event)"
  (_trade)="getTradeByArchiveNoComponent($event)"
></ngx-ys-archive-no>

<ngx-ys-carlist
  *ngIf="tradeList"
  [tradeList]="tradeList"
  (_selected)='onChangeSelectedCar($event)'
  [listType]="'add'"
></ngx-ys-carlist>

<ngx-ys-cardetail
  *ngIf="tradeList"
  [photos]="photos"
  [certificateFormConfig]="certificateFormConfig"
  [vehicle]="_formGroup.controls.vehicle"
></ngx-ys-cardetail>

<div class="float-right">
  <button
    class="btn btn-primary btn-lg"
    (click)="onSubmit()"
    *ngIf="tradeList"
    [disabled]="_formGroup.invalid || notNewCar"
  >保存</button> &nbsp;
  <!--<button class="btn btn-primary btn-lg" (click)="reBack()">返回</button>-->
</div>

