<nb-card>
  <nb-card-header class="d-flex">
    <div class="p-2 mr-auto">报表管理</div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group form-group-sm">
          <a href="" (click)="banlance('sales-rank')">二手车销售排行</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group form-group-sm">
          <a href="" (click)="banlance('month-trade')">月交易情况汇总表</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group form-group-sm">
          <a href="" (click)="banlance('trade-list')">各交易单位交易明细表报表查看</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group form-group-sm">
          <a href="" (click)="banlance('year-trade')">年交易情况汇总表</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group form-group-sm">
          <a href="" (click)="banlance('day-trade')">二手车业务日交易情况汇总表</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group form-group-sm">
          <a href="" (click)="banlance('vehicle-daytrade')">车管综合业务日交易情况汇总表</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group form-group-sm">
          <a href="" (click)="banlance('business-report')">商务部报表导出</a>
        </div>
      </div>

    </div>
  </nb-card-body>
</nb-card>
