<nb-card>
   <nb-card-header>
      移动端录入-车辆入库
   </nb-card-header>
   <nb-card-body>
       <div class="row">
          <div class="col-md-12">商户：</div>
       </div>
       <div class="row">
          <div class="col-md-12">卖方基本信息(个人)</div>
       </div>
       <div class="row">
         <div class="col-md-12">卖方附件</div>
       </div>
   </nb-card-body>
   <nb-card-footer>
       <div class="row">
          <div class="col-md-2">  <button class="btn btn-danger btn-sm">资料有误退回商户</button>  </div>
       </div>
   </nb-card-footer>
</nb-card>
