<ngx-archive-no-vehicle
  [pageTitle]="'过户录入 - 买家'"
  [archiveNo]="businessTradeForm.archiveNo"
  (_tradeList)="getTradeListByArchiveNoComponent($event)"
  (_trade)="getTradeByArchiveNoComponent($event)"
></ngx-archive-no-vehicle>

<ngx-ys-buyer-info
  *ngIf="businessTradeForm"
  [buyerObj]="_formGroupBuyer"
  [certificateFormConfig]="{certificateCode: '03', formName: '过户录入买家'}"
  [merchant]="businessTradeForm.preVehicle.preVehicle.merchant"
  [cheshang]="businessTradeForm.preVehicle.preVehicle.filingInfo"
></ngx-ys-buyer-info>

<ngx-ys-car-transfer
  [transferVehicleObj]="_formGroupTransferVehicle"
  [certificateFormConfig]="{formName: '过户录入车辆'}"
></ngx-ys-car-transfer>

<div class="float-right">
  <!--[disabled]="_formGroup.invalid"-->
  <button class="btn btn-primary btn-lg" (click)="onSubmit()">确认提交</button> &nbsp;
</div>
