<nb-card>
    <nb-card-header>角色添加</nb-card-header>
    <nb-card-body>
      <form [formGroup]="form" (ngSubmit)="save()" class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>角色名称:</label>
              <input type="text" class="form-control" formControlName="name" placeholder="角色名称" [ngClass]="{'form-control-danger':form.get('name').hasError('required') && form.get('name').touched}">
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <span>角色代码</span>
                <div>
                  <p-tree [value]="orgTree | permTreeNode" selectionMode="checkbox"   [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)" (click)="null" onNodeUnselect='nodeUnselect($event)'></p-tree>
                </div>
            </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-sm" >保存</button> &nbsp;
            <button type="button" class="btn btn-info btn-sm" (click)='back()' >返回</button>
          </div>
        </div>
      </form>
    </nb-card-body>
</nb-card>
