<nb-card>
  <nb-card-header class="d-flex">
    <div class="p-2 mr-auto">IC卡消费记录</div>
    <div class="p2">
      <button type="button" class="btn btn-sm btn-outline-success" (click)="toggle()" [ngClass]="{'active':showFilter}" ><i class="ion-funnel"></i></button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [@visibilityChanged]="visibility" (submit)="codeList.reload()">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group form-group-sm">
            <ngx-ys-calendar [placeholder]="'开始日期'"></ngx-ys-calendar>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group form-group-sm">
            <ngx-ys-calendar [placeholder]="'结束日期'"></ngx-ys-calendar>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group form-group-sm">
            <input class="form-control" [(ngModel)]="filter.name" name="name" type="text" placeholder="商户编号"/>
          </div>
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn btn-primary btn-block"><i class="ion-search"></i>查询</button>
        </div>
        <div class="col-sm-2">
          <button type="reset" class="btn btn-outline-primary btn-block"><i class="ion-archive"></i>导出</button>
        </div>
      </div>
    </form>
    <div class="height"></div>
    <table border="1">
      <tr><th colspan="7">消费报表</th></tr>
      <tr>
        <td>商户编号</td>
        <td>商户名称</td>
        <td>充值消费</td>
        <td>赠送消费</td>
        <td>消费金额</td>
        <td>撤销消费</td>
        <td>结算</td>
      </tr>
      <tr></tr>
      <tr>
        <td colspan="2">总计</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
    </table>
  </nb-card-body>
</nb-card>
