<nb-card>
  <nb-card-header class="d-flex">
    <div class="p-2 mr-auto">附件查询</div>
    <div class="p2">
      <!--<a [routerLink]="'edit'" class="btn btn-primary btn-sm">新增</a>-->
      <button type="button" class="btn btn-sm btn-outline-success" (click)="toggle()" [ngClass]="{'active':showFilter}">
        <i class="ion-funnel"></i>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [@visibilityChanged]="visibility" (submit)="codeList.reload()">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group form-group-sm">
            <input class="form-control" [(ngModel)]="filter.archiveNo" name="archiveNo" type="text" placeholder="流水号" />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group form-group-sm">
            <input class="form-control" [(ngModel)]="filter.plateNumber" name="plateNumber" type="text" placeholder="车牌号" />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group form-group-sm">
            <select class="form-control" [(ngModel)]="filter.billStatus" name="billStatus">
              <option value="">开票状态</option>
              <option value="1">已开票</option>
              <option value="0">未开票</option>
            </select>
          </div>
        </div>
        <div class="col-sm-2 form-group">
          <button type="submit" class="btn btn btn-primary">
            <i class="ion-search"></i>查询</button>
        </div>
        <h3>{{filter.achieveStartDate }}</h3>
        <div class="col-sm-2">
          <div class="form-group form-group-sm">
             <ngx-ys-calendar [placeholder]="'过户审核起始日'"  [date]="filter.transferDateStart"    (_calendarValue)="getAchieveStartDate($event)"  ></ngx-ys-calendar>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group form-group-sm">
            <ngx-ys-calendar [placeholder]="'过户审核截止日'" [date]="filter.transferDateEnd"  (_calendarValue)="getAchieveEndDate($event)" ></ngx-ys-calendar>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group form-group-sm">
            <ngx-ys-calendar [placeholder]="'入库审核起始日期'" [date]="filter.preDateStart"  (_calendarValue)="getExamineStartDate($event)"  ></ngx-ys-calendar>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group form-group-sm">
            <ngx-ys-calendar [placeholder]="'入库审核截止日期'"  [date]="filter.preDateEnd"  (_calendarValue)="getExamineEndDate($event)"  ></ngx-ys-calendar>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group form-group-sm">
            <input class="form-control" [(ngModel)]="filter.preInputer" name="preInputer" type="text" placeholder="预审录入员" />
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group form-group-sm">
            <input class="form-control" [(ngModel)]="filter.preReviewer" name="preReviewer" type="text" placeholder="预审审核员" />
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-group form-group-sm">
            <input class="form-control" [(ngModel)]="filter.transferInputer" name="transferInputer" type="text" placeholder="过户录入员" />
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group form-group-sm">
            <input class="form-control" [(ngModel)]="filter.transferReviewer" name="transferReviewer" type="text" placeholder="过户审核员" />
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group form-group-sm">
            <input class="form-control" [(ngModel)]="filter.preMerchantNo" name="preMerchantNo" type="text" placeholder="商户编号" />
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group form-group-sm">
            <input class="form-control" [(ngModel)]="filter.preMerchantName" name="preMerchantName" type="text" placeholder="商户名称" />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group form-group-sm">
            <select class="form-control" name="summary" [(ngModel)]='type' (change)='select(type)'>
              <option value="01">卖家</option>
              <option value="02">卖家受托人</option>
              <option value="03">买家</option>
              <option value="04">买家受托人</option>
              <option value="05">车辆</option>
              <!-- <option value="06">公证书</option> -->
              <option value="07">增值税发票</option>
              <option value="08">其他</option>
            </select>
          </div>

          <!--<div class="col-sm-8"></div>
        <div class="col-sm-2 form-group">
          <button type="submit" class="btn btn btn-primary"><i class="ion-search"></i>查询</button>
        </div>
        <div class="col-sm-2 form-group">
          <button type="reset" class="btn btn-outline-primary" >导出</button>
        </div>-->
        </div>

        <div class="col-sm-12">
          <div class="form-group form-group-sm">
            <div *ngIf="type==01">
              <!--<span style="color:red">请先选择“车辆使用类型”</span>-->
              <label>卖家个人图像</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(1)" />
              <label>卖家身份证(正)</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(2)" />
              <label>卖家身份证(反)</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(3)" />
              <label>卖家个人指纹</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(4)" />
              <label>组织机构正面</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(5)" />
              <!-- <label>组织机构反面</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(6)" /> -->
            </div>

            <div *ngIf="type==02">
              <label>卖方受托人图像</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(1)" />
              <label>卖方受托人指纹</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(2)" />
              <label>卖方受托人证件正面</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(3)" />
              <label>卖方受托人证件反面</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(4)" />
              <label>卖方委托书</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(5)" />
            </div>
            <div *ngIf="type==03">
              <label for="buyer_regPhoto">买家图像</label>
              <input type="checkbox" id="buyer_regPhoto" checked="checked" (change)="toggle_photo(1)" />
              <label for="buyer_idCardFront">买家身份证(正)</label>
              <input type="checkbox" id="buyer_idCardFront" checked="checked" (change)="toggle_photo(2)" />
              <label for="buyer_idCardBg"> 买家身份证(反)</label>
              <input type="checkbox" id="buyer_idCardBg" checked="checked" (change)="toggle_photo(3)" />
              <label for="buyer_fingerprintImg"> 买家指纹</label>
              <input type="checkbox" id="buyer_fingerprintImg" checked="checked" (change)="toggle_photo(4)" />
              <label for="buyer_businessCert"> 组织机构证书</label>
              <input type="checkbox" id="buyer_businessCert" checked="checked" (change)="toggle_photo(5)" />
              <!-- <label for="buyer_businessCertBg"> 组织机构证书(反)</label>
              <input type="checkbox" id="buyer_businessCertBg" checked="checked" (change)="toggle_photo(6)" /> -->
            </div>
            <div *ngIf="type==04">
              <label>买方受托人图像</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(1)" />
              <label>买方受托人指纹</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(2)" />
              <label>买方受托人证件正面</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(3)" />
              <label>买方受托人证件反面</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(4)" />
              <label>买方委托书</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(5)" />
            </div>
            <div *ngIf="type==05">
              <label>行驶证正面</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(1)" />
              <label>行驶证反面</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(2)" />
              <label>登记证书首页</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(3)" />
              <label>登记证书末页</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(4)" />
            </div>
            <div *ngIf="type==08">
              <label>商户车辆转让协议</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(1)" />
            </div>
            <!-- <div *ngIf="type==06">
              <label>公证书第一页</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(1)" />
              <label>公证书第二页</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(2)" />
              <label>公证书第三页</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(3)" />
              <label>公证书第四页</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(4)" />
              <label>公证书第五页</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(5)" />
              <label>公证书第六页</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(6)" />
            </div> -->
            <div *ngIf="type==07">
              <label>增值税发票第一张</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(1)" />
              <label>增值税发票第二张</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(2)" />
              <label>增值税发票第三张</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(3)" />
              <label>增值税发票第四张</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(4)" />
              <label>增值税发票第五张</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(5)" />
              <label>增值税发票第六张</label>
              <input type="checkbox" checked="checked" (change)="toggle_photo(6)" />
            </div>
          </div>
        </div>


      </div>
    </form>
    <ngx-table #codeList [url]="'/rest/siness/trade/pager'" [columns]="columns" [filter]="filter"></ngx-table>
  </nb-card-body>
</nb-card>
<!-- 卖方审核头像 -->
<ng-template #seller_regPhotoi let-data  >
  <!-- {{ object( data.seller.reviewPhotos)?'无':data.seller.reviewPhotos['31'][0].id}} -->
  {{data.seller?.reviewPhotos&& data.seller?.reviewPhotos['31']&&data.seller.reviewPhotos['31'][0].id}}
  <!-- [hidden]="data.seller?.reviewPhotos&& data.seller?.reviewPhotos['31']"  -->
 <ngx-img  [idValue]="data.seller?.reviewPhotos&& data.seller?.reviewPhotos['31']&&data.seller.reviewPhotos['31'][0].id"

           [height]="150"></ngx-img>
</ng-template>
<!-- 卖家身份证正面 -->
<ng-template #seller_idCardFronti let-data  >
  <!-- {{ object( data.seller.photos)?'无':data.seller.photos['03'][0].id}} -->
  {{data.seller?.photos&& data.seller?.photos['03']&&data.seller.photos['03'][0].id}}
      <!-- [hidden]="data.seller?.photos&& data.seller?.photos['03']" -->
 <ngx-img  [idValue]="data.seller?.photos&& data.seller?.photos['03']&&data.seller.photos['03'][0].id"

           [height]="150"></ngx-img>
</ng-template>

<!-- 卖家身份证反面 -->
<ng-template #seller_idCardBgi let-data  >
  <!-- {{ object( data.seller.photos)?'无':data.seller.photos['04'][0].id}} -->
    <!-- [hidden]="data.seller?.photos&& data.seller?.photos['04']" -->
  {{data.seller?.photos&& data.seller?.photos['03']&&data.seller.photos['04'][0].id}}
 <ngx-img  [idValue]="data.seller?.photos&& data.seller?.photos['04']&&data.seller.photos['04'][0].id"

           [height]="150"></ngx-img>
</ng-template>

<!-- 卖方审核指纹 -->
<ng-template #seller_fingerprintImgi let-data  >
  <!-- {{ object( data.seller.reviewPhotos)?'无':data.seller.reviewPhotos['32'][0].id}} -->
  {{data.seller?.reviewPhotos&& data.seller?.reviewPhotos['32']&&data.seller.reviewPhotos['32'][0].id}}
  <!-- [hidden]="data.seller?.reviewPhotos&& data.seller?.reviewPhotos['32']" -->
 <ngx-img [idValue]="data.seller?.reviewPhotos&& data.seller?.reviewPhotos['32']&&data.seller.reviewPhotos['32'][0].id"

           [height]="150"></ngx-img>
</ng-template>

<!-- 组织机构代码证 未写 -->
<ng-template #seller_businessCert let-data  >
  <!-- {{ object( data.seller.photos)?'无':data.seller.photos['02'][0].id}} -->
  {{data.seller?.photos&& data.seller?.photos['02']&&data.seller.photos['02'][0].id}}
  <!-- [hidden]="data.seller?.photos&& data.seller?.photos['02']" -->
 <ngx-img  [idValue]="data.seller?.photos&& data.seller?.photos['02']&&data.seller.photos['02'][0].id"

           [height]="150"></ngx-img>
</ng-template>


<!-- 卖方受托人图像  未写-->
<ng-template #sellerTrustor_regPhoto let-data  >
  <!-- {{ object( data.seller.trusteePhotos)?'无':data.seller.trusteePhotos['31'][0].id}} -->
  {{data.seller?.photos&& data.seller?.trusteePhotos['31']&&data.seller.trusteePhotos['31'][0].id}}
  <!-- [hidden]="data.seller?.trusteePhotos&& data.seller?.trusteePhotos['31']" -->
 <ngx-img  [idValue]="data.seller?.trusteePhotos&& data.seller?.trusteePhotos['31']&&data.seller.trusteePhotos['31'][0].id"

           [height]="150"></ngx-img>
</ng-template>

<!-- 卖方受托人指纹  未写-->
<ng-template #sellerTrustor_fingerprintImg let-data  >
  <!-- {{ object( data.seller.trusteePhotos)?'无':data.seller.trusteePhotos['32'][0].id}} -->
  {{data.seller?.trusteePhotos&& data.seller?.trusteePhotos['32']&&data.seller.trusteePhotos['32'][0].id}}
  <!-- [hidden]="data.seller?.trusteePhotos&& data.seller?.trusteePhotos['31']" -->
 <ngx-img  [idValue]="data.seller?.trusteePhotos&& data.seller?.trusteePhotos['31']&&data.seller.trusteePhotos['32'][0].id"

           [height]="150"></ngx-img>
</ng-template>

<!-- 卖方受托人身份证正面 -->
<ng-template #sellerTrustor_idCardFront let-data  >
  <!-- {{ object( data.seller.trusteePhotos)?'无':data.seller.trusteePhotos['21'][0].id}} -->
  {{data.seller?.trusteePhotos&& data.seller?.trusteePhotos['21']&&data.seller.trusteePhotos['21'][0].id}}
  <!-- [hidden]="data.seller?.trusteePhotos&& data.seller?.trusteePhotos['21']" -->
 <ngx-img  [idValue]="data.seller?.trusteePhotos&& data.seller?.trusteePhotos['21']&&data.seller.trusteePhotos['21'][0].id"

           [height]="150"></ngx-img>
</ng-template>

<!-- 卖方受托人证件反面 -->
<ng-template #sellerTrustor_idCardBg let-data  >
  <!-- {{ object( data.seller.trusteePhotos)?'无':data.seller.trusteePhotos['22'][0].id}} -->
  {{data.seller?.photos&& data.seller?.trusteePhotos['22']&&data.seller.trusteePhotos['22'][0].id}}
  <!-- [hidden]="data.seller?.trusteePhotos&& data.seller?.trusteePhotos['22']" -->
 <ngx-img  [idValue]="data.seller?.trusteePhotos&& data.seller?.trusteePhotos['22']&&data.seller.trusteePhotos['22'][0].id"

           [height]="150"></ngx-img>
</ng-template>

<!-- 卖方委托书 -->
 <ng-template #sellerTrustor_entrustBook let-data  >
  <!-- {{ object( data.seller.photos)?'无':data.seller.photos['27'][0].id}} -->
  {{data.seller?.photos&& data.seller?.photos['27']&&data.seller.photos['27'][0].id}}
  <!-- [hidden]="data.seller?.photos&& data.seller?.photos['27']" -->
 <ngx-img  [idValue]="data.seller?.photos&& data.seller?.photos['27']&&data.seller.photos['27'][0].id"

           [height]="150"></ngx-img>
</ng-template>

<!-- 买方审核头像  未写-->
<ng-template #buyer_regPhoto let-data  >
  <!-- {{ object( data.buyer.reviewPhotos)?'无':data.buyer.reviewPhotos['33'][0].id}} -->
  {{data.buyer?.reviewPhotos&& data.buyer?.reviewPhotos['33']&&data.buyer.reviewPhotos['33'][0].id}}
  <!-- [hidden]="data.buyer?.reviewPhotos&& data.buyer?.reviewPhotos['33']" -->
 <ngx-img  [idValue]="data.buyer?.reviewPhotos&& data.buyer?.reviewPhotos['33']&&data.buyer.reviewPhotos['33'][0].id"

           [height]="150"></ngx-img>
</ng-template>

<!-- 买家身份证(正) -->
<ng-template #buyer_idCardFront let-data  >
  <!-- {{ object( data.buyer.photos)?'无':data.buyer.photos['03'][0].id}} -->
       {{data.buyer?.photos&& data.buyer?.photos['03']&&data.buyer.photos['03'][0].id}}
       <!-- [hidden]="data.buyer?.photos&& data.buyer?.photos['03']" -->
 <ngx-img  [idValue]="data.buyer?.photos&& data.buyer?.photos['03']&&data.buyer.photos['03'][0].id"

           [height]="150"></ngx-img>
</ng-template>

<!-- 买家身份证(反) -->
<ng-template #buyer_idCardBg let-data  >
  <!-- {{ object( data.buyer.photos)?'无':data.buyer.photos['04'][0].id}} -->
  {{data.buyer?.photos&& data.buyer?.photos['04']&&data.buyer.photos['04'][0].id}}
  <!-- [hidden]="data.buyer?.photos&& data.buyer?.photos['04']" -->
 <ngx-img [idValue]="data.buyer?.photos&& data.buyer?.photos['04']&&data.buyer.photos['04'][0].id"

           [height]="150"></ngx-img>
</ng-template>

<!-- 买家指纹  未写-->
<ng-template #buyer_fingerprintImg let-data  >
  <!-- {{ object( data.buyer.reviewPhotos)?'无':data.buyer.reviewPhotos['34'][0].id}} -->
  {{data.buyer?.reviewPhotos&& data.buyer?.reviewPhotos['34']&&data.buyer.reviewPhotos['34'][0].id}}
  <!-- [hidden]="data.buyer?.reviewPhotos&& data.buyer?.reviewPhotos['34']" -->
 <ngx-img  [idValue]="data.buyer?.reviewPhotos&& data.buyer?.reviewPhotos['34']&&data.buyer.reviewPhotos['34'][0].id"

           [height]="150"></ngx-img>
</ng-template>

<!-- 组织机构证书(正) 未写 -->
<ng-template #buyer_businessCert let-data  >
  <!-- {{ object( data.buyer.photos)?'无':data.buyer.photos['02'][0].id}} -->
  {{data.buyer?.photos&& data.buyer?.photos['02']&&data.buyer.photos['02'][0].id}}
  <!--      [hidden]="data.buyer?.photos&& data.buyer?.photos['02']" -->
 <ngx-img [idValue]="data.buyer?.photos&& data.buyer?.photos['02']&&data.buyer.photos['02'][0].id"

           [height]="150"></ngx-img>
</ng-template>
<!--
<!--  组织机构证书(反) 未写-->
<ng-template #buyer_businessCertBg let-data  >
  <!-- {{ object( data.buyer.photos)?'无':data.buyer.photos['01'][0].id}} -->
  {{data.buyer?.photos&& data.buyer?.photos['01']&&data.buyer.photos['01'][0].id}}
  <!-- [hidden]="data.buyer?.photos&& data.buyer?.photos['01']" -->
 <ngx-img  [idValue]="data.buyer?.photos&& data.buyer?.photos['01']&&data.buyer.photos['01'][0].id"

           [height]="150"></ngx-img>
</ng-template>
-->

<!-- 买方受托人图像 -->
<ng-template #buyerTrustor_regPhoto let-data  >
  <!-- {{ object( data.buyer.trusteePhotos)?'无':data.buyer.trusteePhotos['33'][0].id}} -->
  {{data.buyer?.trusteePhotos&& data.buyer?.trusteePhotos['33']&&data.buyer.trusteePhotos['33'][0].id}}
  <!-- [hidden]="data.buyer?.trusteePhotos&& data.buyer?.trusteePhotos['33']" -->
 <ngx-img [idValue]="data.buyer?.trusteePhotos&& data.buyer?.trusteePhotos['33']&&data.buyer.trusteePhotos['33'][0].id"

           [height]="150"></ngx-img>
</ng-template>

<!-- 买方受托人指纹 未写-->
<ng-template #buyerTrustor_fingerprintImg let-data  >
  <!-- {{ object( data.buyer.trusteePhotos)?'无':data.buyer.trusteePhotos['34'][0].id}} -->
  {{data.buyer?.trusteePhotos&& data.buyer?.trusteePhotos['34']&&data.buyer.trusteePhotos['34'][0].id}}
  <!-- [hidden]="data.buyer?.trusteePhotos&& data.buyer?.trusteePhotos['34']" -->
 <ngx-img  [idValue]="data.buyer?.trusteePhotos&& data.buyer?.trusteePhotos['34']&&data.buyer.trusteePhotos['34'][0].id"

           [height]="150"></ngx-img>
</ng-template>

<!-- 买方受托人证件正面  -->
<ng-template #buyerTrustor_idCardFront let-data  >
  <!-- {{ object( data.buyer.trusteePhotos)?'无':data.buyer.trusteePhotos['21'][0].id}} -->
  {{data.buyer?.trusteePhotos&& data.buyer?.trusteePhotos['21']&&data.buyer.trusteePhotos['21'][0].id}}
  <!-- [hidden]="data.buyer?.trusteePhotos&& data.buyer?.trusteePhotos['21']" -->
 <ngx-img [idValue]="data.buyer?.trusteePhotos&& data.buyer?.trusteePhotos['21']&&data.buyer.trusteePhotos['21'][0].id"

           [height]="150"></ngx-img>
</ng-template>

<!-- 买方受托人证件反面 -->
<ng-template #buyerTrustor_idCardBg let-data  >
  <!-- {{ object( data.buyer.trusteePhotos)?'无':data.buyer.trusteePhotos['22'][0].id}} -->
  {{data.buyer?.trusteePhotos&& data.buyer?.trusteePhotos['22']&&data.buyer.trusteePhotos['22'][0].id}}
  <!-- [hidden]="data.buyer?.trusteePhotos&& data.buyer?.trusteePhotos['22']" -->
 <ngx-img [idValue]="data.buyer?.trusteePhotos&& data.buyer?.trusteePhotos['22']&&data.buyer.trusteePhotos['22'][0].id"

           [height]="150"></ngx-img>
</ng-template>

<!--  买方委托书 -->
<ng-template #buyerTrustor_entrustBook let-data  >
  <!-- {{ object( data.buyer.reviewPhotos)?'无':data.buyer.reviewPhotos['27'][0].id}} -->
  {{data.buyer?.reviewPhotos&& data.buyer?.reviewPhotos['27']&&data.buyer.reviewPhotos['27'][0].id}}
  <!-- [hidden]="data.buyer?.reviewPhotos&& data.buyer?.reviewPhotos['27']" -->
 <ngx-img  [idValue]="data.buyer?.reviewPhotos&& data.buyer?.reviewPhotos['27']&&data.buyer.reviewPhotos['27'][0].id"

           [height]="150"></ngx-img>
</ng-template>

<!-- 行驶证正本 -->
<ng-template #vehicleCert let-data  >
  <!-- {{ object( data.preVehicle.photos)?'无':data.preVehicle.photos['17'][0].id}} -->
    <!-- [hidden]="data.preVehicle?.photos&& data.preVehicle?.photos['17']" -->
  {{data.preVehicle?.photos&& data.preVehicle?.photos['17']&&data.preVehicle.photos['17'][0].id}}
 <ngx-img  [idValue]="data.preVehicle?.photos&& data.preVehicle?.photos['17']&&data.preVehicle.photos['17'][0].id"

           [height]="150"></ngx-img>
</ng-template>

<!-- 行驶证反面  -->
<ng-template #vehicleCertBg let-data  >
  <!-- {{ object( data.preVehicle.photos)?'无':data.transferVehicle.photos['20'][0].id}} -->
  <!-- [hidden]="data.preVehicle?.photos&& data.preVehicle?.photos['20']" -->
  {{data.preVehicle?.photos&& data.preVehicle?.photos['20']&&data.preVehicle.photos['20'][0].id}}
 <ngx-img  [idValue]="data.preVehicle?.photos&& data.preVehicle?.photos['20']&&data.preVehicle.photos['20'][0].id"

           [height]="150"></ngx-img>
</ng-template>

<!-- 登记证书首页  -->
<ng-template #vehicle_registrationCert let-data  >
  <!-- {{ object( data.preVehicle.photos)?'无':data.preVehicle.photos['18'][0].id}} -->
  <!-- [hidden]="data.preVehicle?.photos&& data.preVehicle?.photos['18']" -->
  {{data.preVehicle?.photos&& data.preVehicle?.photos['18']&&data.preVehicle.photos['18'][0].id}}
 <ngx-img [idValue]="data.preVehicle?.photos&& data.preVehicle?.photos['18']&&data.preVehicle.photos['18'][0].id"

           [height]="150"></ngx-img>
</ng-template>

<!-- 登记证书末页  -->
<ng-template #vehicle_registrationCertBg let-data  >
  <!-- {{ object( data.preVehicle.photos)?'无':data.preVehicle.photos['19'][0].id}} -->
  <!-- [hidden]="data.preVehicle?.photos&& data.preVehicle?.photos['19']" -->
  {{data.preVehicle?.photos&& data.preVehicle?.photos['19']&&data.preVehicle.photos['19'][0].id}}
 <ngx-img  [idValue]="data.preVehicle?.photos&& data.preVehicle?.photos['19']&&data.preVehicle.photos['19'][0].id"

           [height]="150"></ngx-img>
</ng-template>
<!--
  没看到  公证书
<ng-template #notarizationFile1 let-data  >
  {{ object( data.seller.photos)?'无':data.seller.photos['01'][0].id}}

 <ngx-img  [idValue]="object( data.seller.photos)?null:data.seller.photos['04'][0].id"
           [hidden]="object( data.seller.photos)"
           [height]="150"></ngx-img>
</ng-template>


<ng-template #notarizationFile2 let-data  >
  {{ object( data.seller.photos)?'无':data.seller.photos['01'][0].id}}

 <ngx-img  [idValue]="object( data.seller.photos)?null:data.seller.photos['04'][0].id"
           [hidden]="object( data.seller.photos)"
           [height]="150"></ngx-img>
</ng-template>


<ng-template #notarizationFile3 let-data  >
  {{ object( data.seller.photos)?'无':data.seller.photos['01'][0].id}}

 <ngx-img  [idValue]="object( data.seller.photos)?null:data.seller.photos['04'][0].id"
           [hidden]="object( data.seller.photos)"
           [height]="150"></ngx-img>
</ng-template>


<ng-template #notarizationFile4 let-data  >
  {{ object( data.seller.photos)?'无':data.seller.photos['01'][0].id}}

 <ngx-img  [idValue]="object( data.seller.photos)?null:data.seller.photos['04'][0].id"
           [hidden]="object( data.seller.photos)"
           [height]="150"></ngx-img>
</ng-template>


<ng-template #notarizationFile5 let-data  >
  {{ object( data.seller.photos)?'无':data.seller.photos['01'][0].id}}

 <ngx-img  [idValue]="object( data.seller.photos)?null:data.seller.photos['04'][0].id"
           [hidden]="object( data.seller.photos)"
           [height]="150"></ngx-img>
</ng-template>



<ng-template #notarizationFile6 let-data  >
  {{ object( data.seller.photos)?'无':data.seller.photos['01'][0].id}}

 <ngx-img  [idValue]="object( data.seller.photos)?null:data.seller.photos['04'][0].id"
           [hidden]="object( data.seller.photos)"
           [height]="150"></ngx-img>
</ng-template>

 -->


<!-- 增值税发票第一张 -->
<ng-template #vat1 let-data  >
  <!-- {{ object( data.preVehicle.photos)?'无':data.preVehicle.photos['23'][0].id}} -->
  {{data.preVehicle?.photos&& data.preVehicle?.photos['23']&&data.preVehicle.photos['23'][0].id}}
  <!-- [hidden]="data.preVehicle?.photos&& data.preVehicle?.photos['23']" -->
 <ngx-img [idValue]="data.preVehicle?.photos&& data.preVehicle?.photos['23']&&data.preVehicle.photos['23'][0].id"

           [height]="150"></ngx-img>
</ng-template>



<!-- 增值税发票第二张 -->
<ng-template #vat2 let-data  >
  <!-- {{ object( data.preVehicle.photos)?'无':data.preVehicle.photos['23'][1].id}} -->
  {{data.preVehicle?.photos&& data.preVehicle?.photos['23']&&data.preVehicle.photos['23'][0].id}}
  <!-- [hidden]="data.preVehicle?.photos&& data.preVehicle?.photos['23']" -->
 <ngx-img  [idValue]="data.preVehicle?.photos&& data.preVehicle?.photos['23']&&data.preVehicle.photos['23'][0].id"

           [height]="150"></ngx-img>
</ng-template>



<!-- 增值税发票第三张 -->
<ng-template #vat3 let-data  >
  <!-- {{ object( data.preVehicle.photos)?'无':data.preVehicle.photos['23'][2].id}} -->
  {{data.preVehicle?.photos&& data.preVehicle?.photos['23']&&data.preVehicle.photos['23'][0].id}}
  <!-- [hidden]="data.preVehicle?.photos&& data.preVehicle?.photos['23']" -->
 <ngx-img  [idValue]="data.preVehicle?.photos&& data.preVehicle?.photos['23']&&data.preVehicle.photos['23'][0].id"

           [height]="150"></ngx-img>
</ng-template>


<!-- 增值税发票第四张 -->
<ng-template #vat4 let-data  >
  <!-- {{ object( data.preVehicle.photos)?'无':data.preVehicle.photos['23'][3].id}} -->
  <!-- object( data.preVehicle)?null: -->
  {{data.preVehicle?.photos&& data.preVehicle?.photos['23']&&data.preVehicle.photos['23'][0].id}}
  <!-- [hidden]="data.preVehicle?.photos&& data.preVehicle?.photos['23']" -->
 <ngx-img  [idValue]="data.preVehicle?.photos&& data.preVehicle?.photos['23']&&data.preVehicle.photos['23'][0].id"

           [height]="150"></ngx-img>
</ng-template>


<!-- 	增值税发票第五张 -->
<ng-template #vat5 let-data  >
  <!-- {{ object( data.preVehicle.photos)?'无':data.preVehicle.photos['23'][4].id}} -->
  {{data.preVehicle?.photos&& data.preVehicle?.photos['23']&&data.preVehicle.photos['23'][0].id}}
  <!-- [hidden]="data.preVehicle?.photos&& data.preVehicle?.photos['23']" -->
 <ngx-img  [idValue]="data.preVehicle?.photos&& data.preVehicle?.photos['23']&&data.preVehicle.photos['23'][0].id"

           [height]="150"></ngx-img>
</ng-template>


<!-- 	增值税发票第六张 -->
<ng-template #vat6 let-data  >
  <!-- {{ object( data.preVehicle.photos)?'无':data.preVehicle.photos['23'][5].id}} -->
  {{data.preVehicle?.photos&& data.preVehicle?.photos['23']&&data.preVehicle.photos['23'][0].id}}
  <!-- [hidden]="data.preVehicle?.photos&& data.preVehicle?.photos['23']" -->
 <ngx-img  [idValue]="data.preVehicle?.photos&& data.preVehicle?.photos['23']&&data.preVehicle.photos['23'][0].id"

           [height]="150"></ngx-img>
</ng-template>

