<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">预审业务 - 预审录入 - 继续添加车辆</span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="input-group">
      <input type="text" placeholder="批次号" class="form-control" [(ngModel)]="test" readonly/>
      <input type="text" placeholder="商户编码" class="form-control" />
      <input type="text" placeholder="联系人" readonly class="form-control" [(ngModel)]="test" />
      <input type="text" placeholder="手机号" readonly class="form-control" [(ngModel)]="test" />
    </div>

  </nb-card-body>
</nb-card>

<ngx-car-list [cars]="carsData"  (_selectCar)='onChangeSelectingCar($event)'></ngx-car-list>

<ngx-car-detail [(car)]="carData"></ngx-car-detail>

<div class="float-right">
  <button class="btn btn-primary btn-lg" (click)="onSubmit()">保存</button> &nbsp;
  <button class="btn btn-primary btn-lg" (click)="reBack()">返回</button>
</div>
