<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">预审业务 - 预审录入 - 继续添加车辆</span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">批次号</span>
        <label class="form-control">{{trade.archiveNo}}</label>
      </div>
      <div class="input-group">
        <span class="input-group-addon">代办商户</span>
        <label class="form-control">{{trade.preVehicle.preVehicle.filingInfo.merchant.account.accountName}}</label>
        <!--<ngx-ys-autoinput [results_resource_url]="autoinput_shanghu_source_url"-->
                          <!--(_value)="getSelectedDealer($event)"-->
                          <!--[showProperty]="'name'"-->
                          <!--[disabled]="true"-->
                          <!--[defaultValue]="dealer"-->
        <!--&gt;</ngx-ys-autoinput>-->
      </div>
    </div>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">代办联系人</span>
        <label class="form-control">{{trade.seller.seller.name}}</label>
        <!--<select class="form-control" [disabled]="true" [(ngModel)]="linkman" (change)="linkmanSelecteFunc()" [compareWith]="linkmanCompareWithFunc">-->
          <!--<option value="">&#45;&#45;请选择&#45;&#45;</option>-->
          <!--<option *ngFor="let linkmanitem of linkManData" [ngValue]="linkmanitem">{{linkmanitem.name}}</option>-->
        <!--</select>-->
      </div>
      <div class="input-group">
        <span class="input-group-addon">联系人手机</span>
        <label class="form-control">{{trade.seller.seller.phone}}</label>
        <!--<input class="form-control" placeholder="请先选择商户和联系人" type="text"  [disabled]="true" [value]="linkmanSelected.phone || null "/>-->
      </div>
    </div>
  </nb-card-body>
</nb-card>

<ngx-ys-carlist [tradeList]="tradeList"  (_selected)='onChangeSelected($event)' [showAddButton]="true"></ngx-ys-carlist>

<ngx-ys-cardetail
  [photos]="photos"
  [vehicle]="_formGroup.controls.vehicle"
></ngx-ys-cardetail>

<div class="float-right">
  <button class="btn btn-primary btn-lg" (click)="onSubmit()" [disabled]="_formGroup.invalid || notNewCar">保存</button> &nbsp;
  <button class="btn btn-primary btn-lg" (click)="reBack()">返回</button>
</div>
