<ngx-ys-photo-detail #photoDetailTemplate></ngx-ys-photo-detail>
<nb-card *ngIf="seller">
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">卖方信息</span>
    </div>
  </nb-card-header>
  <nb-card-body [formGroup]="seller">
    <div class="input-group">
      <div class="input-group" *ngIf="showCheshang">
        <span class="input-group-addon">车商</span>
        <ngx-ys-autoinput
          [results_resource_url]="'/rest/merchant/filing/deal/' + merchant.id + '/'"
          (_value)="getSelectedCheshang($event)"
          [showProperty]="'name'"
          [defaultValue]="cheshang"
          [placeholder]="'不是车商'"
        ></ngx-ys-autoinput>
      </div>
      <div class="input-group">
        <span class="input-group-addon">证件类型</span>
        <ngx-ys-codeitem-droplist
          formControlName="certType"
          [ifDisabled]="!btn_show"
          [codeMap]="'certType'"
          (_selectedValue)="certTypeSelecteFunc($event)"
          style="width: 100%;"
        ></ngx-ys-codeitem-droplist>
        <!--<ngx-ys-codeitem-droplist formControlName="certType" [ifDisabled]="false" (_selectedValue)="certificateTypeSelecteFunc($event)" [codeMap]="'certType'" style="width: 100%;"></ngx-ys-codeitem-droplist>-->
        <!--要拿到实体数据-->
        <!--<select class="form-control" formControlName="certType" (change)="certificateTypeSelecteFunc()" [compareWith]="certificateTypeCompareWithFunc">-->
        <!--<select class="form-control" formControlName="certType" (change)="certTypeSelecteFunc()">-->
          <!--<option *ngFor="let code of certType" [ngValue]="code.code">{{code.name}}</option>-->
        <!--</select>-->
        <ngx-valid-error [errors]="errors.certType" [control]="seller.get('certType')"></ngx-valid-error>
      </div>
      <div class="input-group">
        <span class="input-group-addon">是否委托</span>
        <select class="form-control" formControlName="trusteeType" (change)="trusteeTypeChange()">
          <option value="1">是</option>
          <option value="0">否</option>
        </select>
      </div>
    </div>
    <!-- TODO: 修改此处，把选择证件类型之后，的动态组件相关操作都移动到动态组件当中去，由动态组件完成该操作 -->
    <ngx-ys-dynamic-photo-form
      [photos]="sellerObj.get('photos')"
      [certificateFormConfig]="certificateFormConfig"
      [data]="businessTradeForm.seller.photos"
      [btn_show]="btn_show"
    ></ngx-ys-dynamic-photo-form>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">姓名</span>
        <input type="text" placeholder=""
               ngxInputWithPhoto
               [iwp_photoDetailTmp]="photoDetailTemplate"
               [iwp_photos_url]="sellerObj.get('photos').value"
               [iwp_certType]="seller.value.certType"
               [iwp_formName]="'record.sellerForm'"
               class="form-control" formControlName="name"
               [ngClass]="{'form-control-danger':seller.get('name').invalid && seller.get('name').touched}"/>
        <ngx-valid-error [errors]="errors.name" [control]="seller.get('name')"></ngx-valid-error>
      </div>
      <div class="input-group">
        <span class="input-group-addon">手机</span>
        <input type="text" placeholder="" class="form-control" formControlName="phone"
               [ngClass]="{'form-control-danger':seller.get('phone').invalid && seller.get('phone').touched}"/>
        <ngx-valid-error [errors]="errors.phone" [control]="seller.get('phone')"></ngx-valid-error>
      </div>
      <button class="btn btn-primary btn-sm" (click)="readIdCard()">二代证读卡</button>
    </div>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">证件号码</span>
        <input type="text" placeholder="" class="form-control" formControlName="certCode"
               ngxInputWithPhoto
               [iwp_photoDetailTmp]="photoDetailTemplate"
               [iwp_photos_url]="sellerObj.get('photos').value"
               [iwp_certType]="seller.value.certType"
               [iwp_formName]="'record.sellerForm'"
               [ngClass]="{'form-control-danger':seller.get('certCode').invalid && seller.get('certCode').touched}"/>
        <ngx-valid-error [errors]="errors.certCode" [control]="seller.get('certCode')"></ngx-valid-error>
      </div>
      <div class="input-group">
        <span class="input-group-addon">证件有效期</span>
        <input type="text" placeholder="" class="form-control" formControlName="endDate"
               ngxInputWithPhoto
               [iwp_photoDetailTmp]="photoDetailTemplate"
               [iwp_photos_url]="sellerObj.get('photos').value"
               [iwp_certType]="seller.value.certType"
               [iwp_formName]="'record.sellerForm'"
               [ngClass]="{'form-control-danger':seller.get('endDate').invalid && seller.get('endDate').touched}"/>
        <ngx-valid-error [errors]="errors.endDate" [control]="seller.get('endDate')"></ngx-valid-error>
      </div>
    </div>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">地址</span>
        <input type="text" placeholder="" class="form-control" formControlName="address"
               ngxInputWithPhoto
               [iwp_photoDetailTmp]="photoDetailTemplate"
               [iwp_photos_url]="sellerObj.get('photos').value"
               [iwp_certType]="seller.value.certType"
               [iwp_formName]="'record.sellerForm'"
               [ngClass]="{'form-control-danger':seller.get('address').invalid && seller.get('address').touched}"/>
        <ngx-valid-error [errors]="errors.address" [control]="seller.get('address')"></ngx-valid-error>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<ngx-ys-truster-info *ngIf="'1' == seller.get('trusteeType').value" [merchant]="merchant"
     [Trustee]="seller.get('Trustee')" [showCheshang]="showCheshang"></ngx-ys-truster-info>
