<ngx-ys-batch-no
[pageTitle]="'预审业务 - 预审审核'"
[batchNo]="businessTradeForm.prejudication.batchNo"
(_tradeList)="getTradeListByArchiveNoComponent($event)"
(_trade)="getTradeByArchiveNoComponent($event)"
></ngx-ys-batch-no>

<ngx-ys-carlist
  *ngIf="tradeList"
  [tradeList]="tradeList"
  [car_list_title]="'审核车辆列表'"
  (_selected)='onChangeSelected($event)'
  (_checkCars)="onChangeCheckCars($event)"
  [listType]="'checkbox'"
></ngx-ys-carlist>

<ngx-ys-seller-info
  *ngIf="tradeList"
  [merchant]="businessTradeForm.preVehicle.preVehicle.merchant"
  [sellerObj]="_sellerFormGroup"
  [certificateFormConfig]="{certificateCode: '03',formName: '预审录入卖家'}"
></ngx-ys-seller-info>

<ngx-ys-cardetail
  *ngIf="tradeList"
  [car_detail_title]="'车辆信息'"
  [btn_show]="false"
  [vehicleObj]="_vehicleFormGroup"
  [certificateFormConfig]="{formName: '预审录入车辆'}"
></ngx-ys-cardetail>

<div class="float-right">
  <button class="btn btn-primary btn-lg" (click)="onSubmit()" *ngIf="tradeList">下一步</button> &nbsp;
  <!--<button class="btn btn-primary btn-lg" (click)="reBack()">返回</button>-->
</div>
