<ngx-ys-archive-no
  [pageTitle]="'预审业务 - 预审审核'"
  [archiveNo]="archiveNo"
  (_tradeList)="getTradeListByArchiveNoComponent($event)"
  (_trade)="getTradeByArchiveNoComponent($event)"
></ngx-ys-archive-no>

<!--<ngx-ys-seller-info-->
  <!--[merchant]="dealer"-->
  <!--[seller]="_formGroup.controls.seller"-->
  <!--[certificateFormConfig]="sellerCertificateFormConfig"-->
  <!--[btn_show]="false"-->
<!--&gt;</ngx-ys-seller-info>-->

<ngx-ys-carlist
  *ngIf="tradeList"
  [tradeList]="tradeList"
  (_selected)='onChangeSelected($event)'
  [listType]="'checkbox'"
></ngx-ys-carlist>

<ngx-ys-cardetail
  *ngIf="tradeList"
  [btn_show]="false"
  [vehicle]="_formGroup.controls.vehicle"
  [certificateFormConfig]="vehicleCertificateFormConfig"
></ngx-ys-cardetail>

<div class="float-right">
  <button class="btn btn-primary btn-lg" (click)="onSubmit()" *ngIf="tradeList">审核通过</button> &nbsp;
  <!--<button class="btn btn-primary btn-lg" (click)="reBack()">返回</button>-->
</div>
