<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">预审业务 - 预审审核 - 核对信息</span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="input-group">
      <ngx-ys-calendar></ngx-ys-calendar>
    </div>
    <div class="input-group">
      <input type="text" placeholder="请输入车牌号" readonly class="form-control" />
      <input type="text" placeholder="请输入代办商户以搜索" readonly class="form-control" />
      <ngx-ys-calendar></ngx-ys-calendar>
    </div>
    <div class="input-group">
      <input type="text" placeholder="请输入代办联系人以搜索" readonly class="form-control" />
      <input type="text" placeholder="请输入手机号" readonly class="form-control" />
    </div>
    <ngx-ys-camera *ngFor="let photo of photos" [title]="photo.title" [source]="photo.source"></ngx-ys-camera>
  </nb-card-body>
</nb-card>
