<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">过户业务 - 信息录入 - 买方录入完成</span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="cameras-card-header">
      <span class="cameras-card-title">商户信息</span>
    </div>
    <div class="input-group">
      <input type="text" placeholder="商户编号" readonly class="form-control" [(ngModel)]="carid" />
      <input type="text" placeholder="批次号" readonly class="form-control" [(ngModel)]="carid" />
    </div>
    <div class="input-group">
      <input type="text" placeholder="请输入代办联系人以搜索" readonly class="form-control" [(ngModel)]="mobile" />
      <input type="text" placeholder="请输入手机号" readonly class="form-control" [(ngModel)]="mobile" />
    </div>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">卖方信息</span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="camera col-sm-6 float-left" [style.background-image]="'url(assets/images/camera1.jpg)'">
      <span>身份证正面</span>
    </div>
    <div class="camera col-sm-6 float-left" [style.background-image]="'url(assets/images/camera2.jpg)'">
      <span>身份证反面</span>
    </div>
    <div class="input-group">
      <input type="text" placeholder="卖方姓名" class="form-control" />
      <input type="text" placeholder="卖方身份证号" class="form-control" />
      <!--<button class="btn btn-primary btn-sm" (click)="delete(RecordModel)">读卖方身份证</button>-->
    </div>
    <div class="input-group">
      <input type="text" placeholder="卖方手机" class="form-control" />
      <input type="text" placeholder="卖方地址" class="form-control" />
      <input type="text" placeholder="卖方身份有效期" class="form-control" />
    </div>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">车辆信息</span>
      <button class="btn btn-primary btn-sm" >修改</button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="input-group">
      <input type="text" placeholder="车牌号" class="form-control" />
      <input type="text" placeholder="车架号" class="form-control" />
    </div>
    <div class="input-group">
      <input type="text" placeholder="发动机号" class="form-control" />
      <input type="text" placeholder="登记证号" class="form-control" />
      <input type="text" placeholder="厂牌型号" class="form-control" />
      <input type="text" placeholder="手续费" class="form-control" />
    </div>
    <div class="input-group">
      <input type="text" placeholder="车辆类型" class="form-control" />
      <input type="text" placeholder="车辆大小" class="form-control" />
    </div>
    <div class="input-group">
      <input type="text" placeholder="使用年限" class="form-control" />
      <input type="text" placeholder="行驶证地址" class="form-control" />
    </div>
    <div class="input-group">
      <input type="text" placeholder="累计里程" class="form-control" />
      <input type="text" placeholder="交易价格" class="form-control" />
      <input type="text" placeholder="使用性质" class="form-control" />
      <input type="text" placeholder="评估费" class="form-control" />
    </div>
    <div class="input-group">
      <input type="text" placeholder="年审有效期" class="form-control" />
      <input type="text" placeholder="保险有效期" class="form-control" />
      <input type="text" placeholder="路桥有效期" class="form-control" />
    </div>
    <div class="camera col-sm-6 float-left" [style.background-image]="'url(assets/images/camera1.jpg)'">
      <span>行驶证正本</span>
    </div>
    <div class="camera col-sm-6 float-left" [style.background-image]="'url(assets/images/camera2.jpg)'">
      <span>行驶证副本</span>
    </div>
    <div class="camera col-sm-6 float-left" [style.background-image]="'url(assets/images/camera3.jpg)'">
      <span>登记证书首页</span>
    </div>
    <div class="camera col-sm-6 float-left" [style.background-image]="'url(assets/images/camera4.jpg)'">
      <span>登记证书末页</span>
    </div>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">交易信息</span>
      <button class="btn btn-primary btn-sm" >修改</button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="input-group">
      <input type="text" placeholder="车牌号" class="form-control" />
      <input type="text" placeholder="商户编号" class="form-control" />
      <input type="text" placeholder="转出地" class="form-control" />
      <input type="text" placeholder="交易金额" class="form-control" />
    </div>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">买方信息</span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="camera col-sm-6 float-left" [style.background-image]="'url(assets/images/camera1.jpg)'">
      <span>身份证正面</span>
    </div>
    <div class="camera col-sm-6 float-left" [style.background-image]="'url(assets/images/camera2.jpg)'">
      <span>身份证反面</span>
    </div>
    <div class="input-group">
      <input type="text" placeholder="卖方姓名" class="form-control" />
      <input type="text" placeholder="卖方身份证号" class="form-control" />
      <!--<button class="btn btn-primary btn-sm" (click)="delete(RecordModel)">读卖方身份证</button>-->
    </div>
    <div class="input-group">
      <input type="text" placeholder="卖方手机" class="form-control" />
      <input type="text" placeholder="卖方地址" class="form-control" />
      <input type="text" placeholder="卖方身份有效期" class="form-control" />
    </div>
    <div class="float-right">
      <button class="btn btn-primary btn-lg" (click)="onSubmit()">确认提交</button>
    </div>
  </nb-card-body>
</nb-card>
