正在紧锣密鼓的适配后端接口文件属性，请稍后
<!--{{objectKeys(preYsCameraData) | json}}-->
<!--{{preYsCameraDataState}}-->
<ng-container *ngFor="let i of preYsCameraData">
  =
  <!--<ngx-ys-camera-carexcn-->
  <!--[_title]="i.title"-->
  <!--[_source]="i.source"-->
  <!--[_example_source]="i.example_source"-->
  <!--[_btn_show]="i.btn_show"-->
  <!--[_formControl]="i.formControl"-->
  <!--[_btn_check]="i.btn_check"-->
  <!--(_wrong_checked)="changeChecked($event)"-->
  <!--&gt;</ngx-ys-camera-carexcn>-->
</ng-container>
