<nb-card>
  <nb-card-header>提档退回</nb-card-header>
  <nb-card-body>
    <div class="row ">
      <label  class="col-md-1">流水号:</label>
      <div class="col-md-3 ">
        <input type="text" class="form-control" [(ngModel)]="archivesNo" placeholder="请输入或扫描流水号" maxlength="16" (keyup)="argNoSearch($event)">
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-success" (click)="confirm()">退回</button>
      </div>
    </div>
    <div class="container">
      <div class="row">
      </div>
    </div>
  </nb-card-body>

</nb-card>
