<!--*ngIf="!('checkbox' === listType && tradeList.length < 2)"-->
<!--TODO：审核只有一辆车时不显示车辆列表-->
<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">{{ car_list_title || '已添加车辆'}}</span>
    </div>
  </nb-card-header>
  <nb-card-body>
  <ng-container [ngSwitch]="listType">
    <ng-template [ngSwitchCase]="'checkbox'">
      <div class="margin_10">
        <label class="custom-control custom-checkbox" *ngFor="let trade of tradeList">
        <input type="checkbox" class="custom-control-input"
               [name]="trade.preVehicle.preVehicle.plateNumber"
               (change)="checkboxChanged($event,trade)"
               [checked]="checkedStatus.indexOf(trade.prejudication.status) > -1 || 1 === this.tradeList.length"
               [disabled]="! (canCheckingStatus.indexOf(trade.prejudication.status) > -1)" />
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">
          <button class="btn btn-primary btn-tn" (click)="selected(trade)">
            {{trade.preVehicle.preVehicle.plateNumber}}
            [{{statusArr[trade.prejudication.status]}}]
          </button>
        </span>
        </label>
      </div>
    </ng-template>
    <ng-template [ngSwitchCase]="'add'">
        <button class="btn btn-primary btn-tn margin_10"
                *ngFor="let trade of tradeList"
                (click)="selected(trade)">
          {{trade.preVehicle.preVehicle.plateNumber}}
          [{{statusArr[trade.prejudication.status]}}]
        </button>
        <button class="btn btn-info btn-tn margin_10" (click)="addNew()">添加车辆</button>
    </ng-template>
    <ng-template ngSwitchDefault>
        <button class="btn btn-primary btn-tn margin_10"
                *ngFor="let trade of tradeList"
                (click)="selected(trade)">
          {{trade.preVehicle.preVehicle.plateNumber}}
          [{{statusArr[trade.prejudication.status]}}]
        </button>
    </ng-template>
  </ng-container>
  </nb-card-body>
</nb-card>
