<nb-card>
  <nb-card-header class="d-flex">
    <div class="p-2 mr-auto">查看信息</div>
  </nb-card-header>
  <nb-card-body>
    <table border="1">
      <tr>
        <th colspan="6">档案信息</th>
      </tr>
      <tr>
        <td>档案编号：</td>
        <td colspan="5" class="striking"></td>
      </tr>
      <tr>
        <td>商户编号：</td>
        <td class="striking"></td>
        <td>商户名称：</td>
        <td colspan="3" class="striking"></td>
      </tr>

      <tr>
        <th colspan="6">车辆信息</th>
      </tr>
      <tr>
        <td>车牌号：</td>
        <td class="striking"></td>
        <td>登记证号：</td>
        <td class="striking"></td>
        <td>发动机号：</td>
        <td class="striking"></td>
      </tr>
      <tr>
        <td>车架号/车辆识别号：</td>
        <td class="striking"></td>
        <td>厂牌型号：</td>
        <td class="striking"></td>
        <td>车辆类型：</td>
        <td class="striking"></td>
      </tr>
      <tr>
        <td>车辆大小：</td>
        <td class="striking"></td>
        <td>车辆使用性质：</td>
        <td class="striking"></td>
        <td>使用年份：</td>
        <td class="striking"></td>
      </tr>
      <tr>
        <td>其他状况：</td>
        <td class="striking"></td>
        <td>登记证书首页：</td>
        <td class="striking"></td>
        <td>登记证书末页：</td>
        <td class="striking"></td>
      </tr>

      <tr>
        <th colspan="6">交易信息</th>
      </tr>
      <tr>
        <td>累计里程：</td>
        <td class="striking"></td>
        <td>售价(元)：</td>
        <td class="striking"></td>
        <td>手续费：</td>
        <td class="striking"></td>
      </tr>
      <tr>
        <td>年审有效期：</td>
        <td class="striking"></td>
        <td>保险有效期：</td>
        <td class="striking"></td>
        <td>路桥有效期：</td>
        <td class="striking"></td>
      </tr>
      <tr>
        <td>购车价格(元)：</td>
        <td class="striking"></td>
        <td>备注：</td>
        <td colspan="3" class="striking"></td>
      </tr>
    </table>
    <table border="1">
      <tr>
        <th colspan="2">公证书信息</th>
      </tr>
      <tr>
        <th>公证书第一页</th>
        <th>公证书第二页</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>公证书第三页</th>
        <th>公证书第四页</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>公证书第五页</th>
        <th>公证书第六页</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
    <table border="1">
      <tr>
        <th colspan="6">入库联系人</th>
      </tr>
      <tr>
        <td>联系人姓名：</td>
        <td class="striking"></td>
        <td>证件号码：</td>
        <td class="striking"></td>
        <td>联系人电话：</td>
        <td class="striking"></td>
      </tr>
    </table>
    <table>
      <tr>
        <th>身份证正面</th>
        <th>身份证反面</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
    <table border="1">
      <tr>
        <th colspan="6">卖方信息</th>
      </tr>
      <tr>
        <td>卖方名称：</td>
        <td class="striking"></td>
        <td>证件号码：</td>
        <td class="striking"></td>
        <td>卖方属性：</td>
        <td class="striking"></td>
      </tr>
      <tr>
        <td>电话：</td>
        <td class="striking"></td>
        <td>行驶证地址：</td>
        <td class="striking"></td>
        <td>证件到期时间：</td>
        <td class="striking"></td>
      </tr>
    </table>

    <table border="1">
      <tr>
        <th>身份证正面</th>
        <th>身份证反面</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>行驶证正面</th>
        <th>行驶证反面</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
    <table border="1">
      <tr>
        <th colspan="6">入库操作员</th>
      </tr>
      <tr>
        <td>操作员名称：</td>
        <td colspan="5" class="striking"></td>
      </tr>
      <tr>
        <th colspan="6">入库审核人员</th>
      </tr>
      <tr>
        <td>审核人员登录名：</td>
        <td class="striking"></td>
        <td>审核人员名称：</td>
        <td class="striking"></td>
        <td>入库审核时间：</td>
        <td class="striking"></td>
      </tr>
    </table>
    <table border="1">
      <tr>
        <th>卖方头像</th>
        <th>卖方指纹</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>身份证正面</th>
        <th>身份证反面</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
    <table border="1">
      <tr>
        <th colspan="6">出库操作员</th>
      </tr>
      <tr>
        <td>操作员名称：</td>
        <td colspan="5" class="striking"></td>
      </tr>
      <tr>
        <th colspan="6">出库审核人员</th>
      </tr>
      <tr>
        <td>审核人员登录名：</td>
        <td class="striking"></td>
        <td>审核人员名称：</td>
        <td class="striking"></td>
        <td>出库审核时间：</td>
        <td class="striking"></td>
      </tr>
      <tr>
        <th colspan="6">买方信息</th>
      </tr>
      <tr>
        <td>买方名称：</td>
        <td class="striking"></td>
        <td>证件号码：</td>
        <td class="striking"></td>
        <td>证件有效期：</td>
        <td class="striking"></td>
      </tr>
      <tr>
        <td>电话：</td>
        <td class="striking"></td>
        <td>地址：</td>
        <td class="striking"></td>
        <td>买方属性：</td>
        <td class="striking"></td>
      </tr>
      <tr>
        <td>车辆管理所：</td>
        <td colspan="5" class="striking"></td>
      </tr>
    </table>
    <table border="1">
      <tr>
        <th>身份证正面</th>
        <th>身份证反面</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th colspan="2">机构证或营业执照</th>
      </tr>
      <tr>
        <td colspan="2"></td>
      </tr>
      <tr>
        <th>买方头像</th>
        <th>买方指纹</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
  </nb-card-body>
</nb-card>
