<ngx-archive-no-vehicle
  [pageTitle]="'手机端录入 - 预览'"
  [archiveNo]="archiveNo"
  [canEdit]="false"
  [showSelectBtn]="false"
  (_trade)="getTradeByArchiveNoComponent($event)"
></ngx-archive-no-vehicle>
<!--准备好所有证件类型字段集才要展现照片-->
<ng-container *ngIf="photoForCertificateTypeReady">

  <nb-card>
    <nb-card-header>
      <div class="cameras-card-header">
        <span class="cameras-card-title">卖方照片集</span>
      </div>
    </nb-card-header>
    <nb-card-body>
      <!--*ngIf="trade.seller && objectKeys(trade.seller.photos).length !== 0"-->
      <ngx-ys-dynamic-photo-form
        [photos]="_formGroup.controls.seller_photos_"
        [certificateFormConfig]="{formName: '预审录入卖家', certificateCode:trade.seller.seller.certType}"
        [data]="trade.seller ? trade.seller.photos : null"
        [btn_show]="false"
        [btn_show_check]="btn_show_check"
        (_wrong_checked)="wrongChecked($event)"
      ></ngx-ys-dynamic-photo-form>
    </nb-card-body>
  </nb-card>
  <!--如果没有委托人信息则允许不拍委托人照片-->
  <nb-card *ngIf="trade.seller.seller.trustee">
    <nb-card-header>
      <div class="cameras-card-header">
        <span class="cameras-card-title">卖方委托人照片集</span>
      </div>
    </nb-card-header>
    <nb-card-body>
      <!--*ngIf="trade.seller && objectKeys(trade.seller.trusteePhotos).length !== 0"-->
      <ngx-ys-dynamic-photo-form
        [photos]="_formGroup.controls.seller_photos_"
        [certificateFormConfig]="{formName: '预审录入卖家委托人'}"
        [data]="trade.seller ? trade.seller.trusteePhotos : null"
        [btn_show]="false"
        [btn_show_check]="btn_show_check"
        (_wrong_checked)="wrongChecked($event)"
      ></ngx-ys-dynamic-photo-form>
    </nb-card-body>
  </nb-card>

  <nb-card>
    <nb-card-header>
      <div class="cameras-card-header">
        <span class="cameras-card-title">预审车辆照片集</span>
      </div>
    </nb-card-header>
    <nb-card-body>
      <!--*ngIf="trade.preVehicle && objectKeys(trade.preVehicle.photos).length !== 0"-->
      <ngx-ys-dynamic-photo-form
        [photos]="_formGroup.controls.preVehicle_photos_"
        [certificateFormConfig]="{formName: '预审录入车辆'}"
        [data]="trade.preVehicle ? trade.preVehicle.photos : null"
        [btn_show]="false"
        [btn_show_check]="btn_show_check"
        (_wrong_checked)="wrongChecked($event)"
      ></ngx-ys-dynamic-photo-form>
    </nb-card-body>
  </nb-card>

  <nb-card>
    <nb-card-header>
      <div class="cameras-card-header">
        <span class="cameras-card-title">买方照片集</span>
      </div>
    </nb-card-header>
    <nb-card-body>
      <!--*ngIf="trade.buyer && trade.buyer.photos !== {}"-->
      <ngx-ys-dynamic-photo-form
        [photos]="_formGroup.controls.buyer_photos_"
        [certificateFormConfig]="{formName: '预审录入买家', certificateCode:trade.buyer.buyer.certType}"
        [data]="trade.buyer ? trade.buyer.photos : null"
        [btn_show]="false"
        [btn_show_check]="btn_show_check"
        (_wrong_checked)="wrongChecked($event)"
      ></ngx-ys-dynamic-photo-form>
    </nb-card-body>
  </nb-card>

  <!--如果没有委托人信息则允许不拍委托人照片-->
  <nb-card *ngIf="trade.buyer.buyer.trustee">
    <nb-card-header>
      <div class="cameras-card-header">
        <span class="cameras-card-title">买方委托人照片集</span>
      </div>
    </nb-card-header>
    <nb-card-body>
      <!--*ngIf="trade.buyer && objectKeys(trade.buyer.trusteePhotos).length !== 0"-->
      <ngx-ys-dynamic-photo-form
        [photos]="_formGroup.get('buyer_trusteePhotos_')"
        [certificateFormConfig]="{formName: '预审录入买家委托人'}"
        [data]="trade.buyer ? trade.buyer.trusteePhotos : null"
        [btn_show]="false"
        [btn_show_check]="btn_show_check"
        (_wrong_checked)="wrongChecked($event)"
      ></ngx-ys-dynamic-photo-form>
    </nb-card-body>
  </nb-card>

  <!--*ngIf="trade.transferVehicle && objectKeys(trade.transferVehicle.photos).length !== 0"-->
  <nb-card>
    <nb-card-header>
      <div class="cameras-card-header">
        <span class="cameras-card-title">过户车辆照片集</span>
      </div>
    </nb-card-header>
    <nb-card-body>
      <ngx-ys-dynamic-photo-form
        [photos]="_formGroup.get('transferVehicle_photos_')"
        [certificateFormConfig]="{formName: '过户录入车辆'}"
        [data]="trade.transferVehicle ? trade.transferVehicle.photos : null"
        [btn_show]="false"
        [btn_show_check]="btn_show_check"
        (_wrong_checked)="wrongChecked($event)"
      ></ngx-ys-dynamic-photo-form>
    </nb-card-body>
  </nb-card>

</ng-container>

<nb-card *ngIf="wrong_checked.length > 0">
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">回退原因</span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <textarea class="form-control" rows="3"  [(ngModel)]="reason" placeholder="请输入回退原因..."></textarea>
  </nb-card-body>
  <nb-card-footer>
    <div class="col-sm-3 float-right">
        <button type="button" class="btn btn-danger btn-block" (click)="back()">回退</button>
    </div>

    <div class="col-sm-3 float-right">
        <button type="button" class="btn btn-success btn-block" (click)="startInput()">开始录入</button>
    </div>

    <div class="col-sm-3 float-right">
        <button type="button" class="btn btn-primary btn-block" (click)="back()">返回</button>
    </div>
  </nb-card-footer>
</nb-card>
<br /><br /><br /><br />
