<ngx-archive-no-vehicle
  [pageTitle]="'手机端录入 - 预览'"
  [archiveNo]="archiveNo"
  [canEdit]="false"
  [showSelectBtn]="false"
  (_trade)="getTradeByArchiveNoComponent($event)"
></ngx-archive-no-vehicle>
<!--准备好所有证件类型字段集才要展现照片-->
<ng-container *ngIf="photoForCertificateTypeReady">
  <nb-card>
    <nb-card-header>
      <div class="cameras-card-header">
        <span class="cameras-card-title">买方照片集</span>
      </div>
    </nb-card-header>
    <nb-card-body>
      <ngx-ys-dynamic-photo-form
        *ngIf="trade.buyer && trade.buyer.photos !== {}"
        [photos]="_formGroup.controls.buyer_photos_"
        [certificateFormConfig]="buyerCertConf"
        [btn_show]="false"
        [btn_show_check]="true"
      ></ngx-ys-dynamic-photo-form>
    </nb-card-body>
  </nb-card>

  <nb-card>
    <nb-card-header>
      <div class="cameras-card-header">
        <span class="cameras-card-title">买方委托人照片集</span>
      </div>
    </nb-card-header>
    <nb-card-body>
      <ngx-ys-dynamic-photo-form
        *ngIf="trade.buyer && objectKeys(trade.buyer.trusteePhotos).length !== 0"
        [photos]="_formGroup.controls.buyer_trusteePhotos_"
        [certificateFormConfig]="buyerTrusteeCertConf"
        [btn_show]="false"
        [btn_show_check]="true"
      ></ngx-ys-dynamic-photo-form>
    </nb-card-body>
  </nb-card>

  <nb-card>
    <nb-card-header>
      <div class="cameras-card-header">
        <span class="cameras-card-title">卖方照片集</span>
      </div>
    </nb-card-header>
    <nb-card-body>
      <ngx-ys-dynamic-photo-form
        *ngIf="trade.seller && objectKeys(trade.seller.photos).length !== 0"
        [photos]="_formGroup.controls.seller_photos_"
        [certificateFormConfig]="sellerCertConf"
        [btn_show]="false"
        [btn_show_check]="true"
      ></ngx-ys-dynamic-photo-form>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-header>
      <div class="cameras-card-header">
        <span class="cameras-card-title">卖方委托人照片集</span>
      </div>
    </nb-card-header>
    <nb-card-body>
      <ngx-ys-dynamic-photo-form
        *ngIf="trade.seller && objectKeys(trade.seller.trusteePhotos).length !== 0"
        [photos]="_formGroup.controls.seller_photos_"
        [certificateFormConfig]="sellerTrusteeCertConf"
        [btn_show]="false"
        [btn_show_check]="true"
      ></ngx-ys-dynamic-photo-form>
    </nb-card-body>
  </nb-card>

  <nb-card>
    <nb-card-header>
      <div class="cameras-card-header">
        <span class="cameras-card-title">预审车辆照片集</span>
      </div>
    </nb-card-header>
    <nb-card-body>
      <ngx-ys-dynamic-photo-form
        *ngIf="trade.preVehicle && objectKeys(trade.preVehicle.photos).length !== 0"
        [photos]="_formGroup.controls.preVehicle_photos_"
        [certificateFormConfig]="preVehicleCertConf"
        [btn_show]="false"
        [btn_show_check]="true"
      ></ngx-ys-dynamic-photo-form>
    </nb-card-body>
  </nb-card>


  <nb-card *ngIf="trade.transferVehicle && objectKeys(trade.transferVehicle.photos).length !== 0">
    <nb-card-header>
      <div class="cameras-card-header">
        <span class="cameras-card-title">过户车辆照片集</span>
      </div>
    </nb-card-header>
    <nb-card-body>
      <ngx-ys-dynamic-photo-form
        [photos]="_formGroup.controls.transferVehicle_photos_"
        [certificateFormConfig]="transferVehicleCertConf"
        [btn_show]="false"
        [btn_show_check]="true"
      ></ngx-ys-dynamic-photo-form>
    </nb-card-body>
  </nb-card>

</ng-container>

<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">打回原因</span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <textarea class="form-control" rows="3"  [(ngModel)]="reason" placeholder="请输入打回原因..."></textarea>
  </nb-card-body>
  <nb-card-footer>
    <div class="col-sm-3 float-right">
        <button type="button" class="btn btn-danger btn-block" (click)="back()">打回</button>
    </div>

    <div class="col-sm-3 float-right">
        <button type="button" class="btn btn-success btn-block" (click)="startInput()">开始录入</button>
    </div>

    <div class="col-sm-3 float-right">
        <button type="button" class="btn btn-default btn-block" (click)="back()">返回</button>
    </div>
  </nb-card-footer>
</nb-card>
