<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">过户业务 - 预审录入 - 添加车辆</span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="input-group">
      <input type="text" placeholder="批次号" class="form-control" [(ngModel)]="test" readonly/>
      <input type="text" placeholder="商户编码" class="form-control" />
      <input type="text" placeholder="联系人" readonly class="form-control" [(ngModel)]="test" />
      <input type="text" placeholder="手机号" readonly class="form-control" [(ngModel)]="test" />
    </div>

  </nb-card-body>
</nb-card>


<ngx-ys-carlist [cars]="carsData"  (_selectCar)='onChangeSelectingCar($event)'></ngx-ys-carlist>

<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">卖方信息</span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="camera col-sm-6 float-left" [style.background-image]="'url(assets/images/camera1.jpg)'">
      <span>身份证正面</span>
    </div>
    <div class="camera col-sm-6 float-left" [style.background-image]="'url(assets/images/camera2.jpg)'">
      <span>身份证反面</span>
    </div>
    <div class="input-group">
      <input type="text" placeholder="卖方姓名" class="form-control" />
      <input type="text" placeholder="卖方身份证号" class="form-control" />
      <button class="btn btn-primary btn-sm" (click)="delete(RecordModel)">读卖方身份证</button>
    </div>
    <div class="input-group">
      <input type="text" placeholder="卖方手机" class="form-control" />
      <input type="text" placeholder="卖方地址" class="form-control" />
      <input type="text" placeholder="卖方身份有效期" class="form-control" />
    </div>
  </nb-card-body>
</nb-card>

<ngx-ys-cardetail [(car)]="carData"></ngx-ys-cardetail>

<div class="float-right">
  <button class="btn btn-primary btn-lg" (click)="gotoNext()">下一步</button>
</div>
