<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">控件演示</span>
    </div>
  </nb-card-header>
  <nb-card-body>

    <div class="col-md-12">
      <nb-card>
        <nb-tabset fullWidth  style="min-height: 400px">
          <nb-tab tabTitle="输入提示" style="min-height: 400px">
            <div>
              <ngx-ys-autoinput [results_resource_url]="autoinput_source_url" (_value)="getAutoInputValue($event)"></ngx-ys-autoinput>
            </div>
          </nb-tab>
          <nb-tab tabTitle="日历控件" style="min-height: 400px">
            <div class="input-group">
              <ngx-ys-calendar [placeholder]="'截至日期'" (_calendarValue)="getYsCalendarValue($event)"></ngx-ys-calendar>
              <button class="btn btn-primary btn-sm" (click)="showYsCalendarValue()">从父组件获取时间</button>
              <ngx-ys-calendar [placeholder]="'某个月'" [dateFormat]="'yy-mm'" (_calendarValue)="getYsCalendarValue2($event)"></ngx-ys-calendar>
              <button class="btn btn-primary btn-sm" (click)="showYsCalendarValue2()">只选月份</button>
            </div>
          </nb-tab>
          <nb-tab tabTitle="拍照与上传控件">
            <ngx-ys-camera *ngFor="let photo of photos" [title]="photo.title" [source]="photo.source" (_changeSource)="onChangeSource($event,photo)"></ngx-ys-camera>
          </nb-tab>
          <nb-tab tabTitle="身份证控件">
            <div class="input-group">
              <input type="text" placeholder="姓名" class="form-control" [ngModel]="idcardData.Name"/>
              <input type="text" placeholder="性别" class="form-control" [ngModel]="idcardData.Sex"/>
              <input type="text" placeholder="生日" class="form-control" [ngModel]="idcardData.Birthday"/>
              <button class="btn btn-primary btn-sm" (click)="readIdCard()">读身份证</button>
            </div>
            <div class="input-group">
              <input type="text" placeholder="身份证号" class="form-control" [ngModel]="idcardData.IdCardNo"/>
              <input type="text" placeholder="地址" class="form-control" [ngModel]="idcardData.Address"/>
              <input type="text" placeholder="身份有效期" class="form-control" [ngModel]="idcardData.UseEnd"/>
            </div>
          </nb-tab>
          <nb-tab tabTitle="IC卡控件">
            <div class="input-group">
              <input type="text" placeholder="IC卡充值金额" class="form-control" [(ngModel)]="iccardRechargeData.amountDisplay"/>
              <button class="btn btn-primary btn-sm" (click)="iccardRecharge()">充值</button>
              <input type="text" placeholder="IC卡扣款金额" class="form-control" [(ngModel)]="iccardPayData.amountDisplay"/>
              <button class="btn btn-primary btn-sm" (click)="iccardPay()">扣款</button>
            </div>
            <div class="input-group">
              <label class="form-control">IC卡余额：{{iccardData.BanlanceDisplay || 0}}元</label>
              <button class="btn btn-primary btn-sm" (click)="readIccard()">读取IC卡</button>
              <input type="text" placeholder="输入此处的文本写入IC卡屏幕" class="form-control" [(ngModel)]="iccardData.Text"/>
              <button class="btn btn-primary btn-sm" (click)="iccardText()">IC卡写入文本</button>
            </div>
          </nb-tab>
          <nb-tab tabTitle="指纹控件">
            <div class="input-group">
              <button class="btn btn-primary btn-sm" (click)="fingerRead()">指纹读取</button>
              <button class="btn btn-primary btn-sm" (click)="fingerVerify()">指纹验证</button>
            </div>
            <div class="input-group">
              <img [src]="fingerImgUrl" alt="指纹照片" style="max-width: 256px;max-height: 288px;">
            </div>
          </nb-tab>
        </nb-tabset>
      </nb-card>
    </div>
    <div class="input-group">
      <input type="text" placeholder="URL地址测试" class="form-control" #url/>
      <button class="btn btn-primary btn-sm" (click)="test1Click(url.value)">测试1</button>
    </div>
    <div class="input-group">
      <input type="text" placeholder="代码类" class="form-control" #codeMap/>
      <input type="text" placeholder="代码" class="form-control" #code/>
      <input type="text" placeholder="转换的代码值" class="form-control" [(ngModel)]="codeTransValue"/>
      <button class="btn btn-primary btn-sm" (click)="test2Pipe(codeMap.value, code.value)">代码转换管道测试</button>
    </div>
    <div class="input-group">
      <label class="btn">'001' | code_trans: '002' => {{ '001' | code_trans: '002' | async }}</label>
      <input type="text" placeholder="选中的代码元素值" class="form-control" [(ngModel)]="codeTransSeleted"/>
      <ngx-ys-codeitem-droplist></ngx-ys-codeitem-droplist>
    </div>
    <div class="cameras-card-header">
      <span class="cameras-card-title">输入提示控件</span>
    </div>
    <div>
      <ngx-ys-autoinput [results_resource_url]="autoinput_source_url" (_value)="getAutoInputValue($event)"></ngx-ys-autoinput>
    </div>

    <div>
      <div class="cameras-card-header">
        <span class="cameras-card-title">日历控件</span>
      </div>
    </div>
    <div>
      <ngx-ys-calendar [placeholder]="'截至日期'" (_calendarValue)="getYsCalendarValue($event)"></ngx-ys-calendar>
      <button class="btn btn-primary btn-sm" (click)="showYsCalendarValue()">从父组件获取时间</button>
      <ngx-ys-calendar [placeholder]="'某个月'" [dateFormat]="'yy-mm'" (_calendarValue)="getYsCalendarValue2($event)"></ngx-ys-calendar>
      <button class="btn btn-primary btn-sm" (click)="showYsCalendarValue2()">只选月份</button>
    </div>

    <div class="input-group">
      <div class="cameras-card-header">
        <span class="cameras-card-title">拍照与上传控件</span>
      </div>
    </div>
    <ngx-ys-camera *ngFor="let photo of photos" [title]="photo.title" [source]="photo.source" (_changeSource)="onChangeSource($event,photo)" [col_sm_6]="'col-sm-12'"></ngx-ys-camera>

    <div class="input-group">
      <div class="cameras-card-header">
        <span class="cameras-card-title">身份证读取控件</span>
      </div>
    </div>

    <div class="input-group">
      <input type="text" placeholder="姓名" class="form-control" [ngModel]="idcardData.Name"/>
      <input type="text" placeholder="性别" class="form-control" [ngModel]="idcardData.Sex"/>
      <input type="text" placeholder="生日" class="form-control" [ngModel]="idcardData.Birthday"/>
      <button class="btn btn-primary btn-sm" (click)="readIdCard()">读身份证</button>
    </div>
    <div class="input-group">
      <input type="text" placeholder="身份证号" class="form-control" [ngModel]="idcardData.IdCardNo"/>
      <input type="text" placeholder="地址" class="form-control" [ngModel]="idcardData.Address"/>
      <input type="text" placeholder="身份有效期" class="form-control" [ngModel]="idcardData.UseEnd"/>
    </div>

    <div class="input-group">
      <div class="cameras-card-header">
        <span class="cameras-card-title">IC卡控件</span>
      </div>
    </div>
    <div class="input-group">
      <input type="text" placeholder="IC卡充值金额" class="form-control" [(ngModel)]="iccardRechargeData.amountDisplay"/>
      <button class="btn btn-primary btn-sm" (click)="iccardRecharge()">充值</button>
      <input type="text" placeholder="IC卡扣款金额" class="form-control" [(ngModel)]="iccardPayData.amountDisplay"/>
      <button class="btn btn-primary btn-sm" (click)="iccardPay()">扣款</button>
    </div>
    <div class="input-group">
      <label class="form-control">IC卡余额：{{iccardData.BanlanceDisplay || 0}}元</label>
      <button class="btn btn-primary btn-sm" (click)="readIccard()">读取IC卡</button>
      <input type="text" placeholder="输入此处的文本写入IC卡屏幕" class="form-control" [(ngModel)]="iccardData.Text"/>
      <button class="btn btn-primary btn-sm" (click)="iccardText()">IC卡写入文本</button>
    </div>

    <div class="input-group">
      <div class="cameras-card-header">
        <span class="cameras-card-title">指纹控件</span>
      </div>
    </div>
    <div class="input-group">
      <button class="btn btn-primary btn-sm" (click)="fingerRead()">指纹读取</button>
      <button class="btn btn-primary btn-sm" (click)="fingerVerify()">指纹验证</button>
    </div>
    <div class="input-group">
      <img [src]="fingerImgUrl" alt="指纹照片" style="max-width: 256px;max-height: 288px;">
    </div>

  </nb-card-body>
  <nb-card-footer>
    <span> &nbsp; &nbsp; * 本示例用于前端开发组编写包含控件功能页面时参考 </span>
  </nb-card-footer>
</nb-card>
