<nb-card>
    <nb-card-header>用户管理信息维护</nb-card-header>
    <nb-card-body>
        <form [formGroup]="form" (ngSubmit)="save()" class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <select name="type" class="form-control" id="type" formControlName="type" required [ngClass]="{'form-control-danger':form.get('type').hasError('required') && form.get('type').touched}">
                            <option [ngValue]=null>--请选择用户类型--</option>
                            <option *ngFor="let item of jobList" [ngValue]='item'>{{item.name}}</option>
                        </select>
                    </div>
                    <div class="text-danger" *ngIf="form.get('type').hasError('required') && form.get('type').touched">
                        -- 必须选择用户类型
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>员工编号:</label>
                        <input type="text" class="form-control" formControlName="name" placeholder="员工编号" [ngClass]="{'form-control-danger':form.get('name').hasError('required') && form.get('name').touched}">
                    </div>
                    <div class="text-danger" *ngIf="form.get('name').hasError('required') && form.get('name').touched">
                        -- 必须输入员工编号
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>用户名称:</label>
                        <input type="text" class="form-control" formControlName="name" placeholder="用户名称" [ngClass]="{'form-control-danger':form.get('name').hasError('required') && form.get('name').touched}">
                    </div>
                    <div class="text-danger" *ngIf="form.get('name').hasError('required') && form.get('name').touched">
                        -- 必须输入用户名称
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>用户登录名:</label>
                        <input type="text" class="form-control" formControlName="loginName" placeholder="用户登录名" [ngClass]="{'form-control-danger':form.get('loginName').hasError('required') && form.get('loginName').touched}">
                    </div>
                    <div class="text-danger" *ngIf="form.get('loginName').hasError('required') && form.get('loginName').touched">
                        -- 必须输入用户登录名
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>密码:</label>
                        <input type="password" class="form-control" formControlName="password" placeholder="密码" [ngClass]="{'form-control-danger':form.get('password').hasError('pattern') && form.get('password').touched}">
                    </div>
                    <div class="text-danger" *ngIf="form.get('password').hasError('required') && form.get('password').touched">
                        -- 必须输入密码
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="col-sm-6">
                     <div class="form-group">
                        <label for="">再次输入密码</label>
                        <input type="password" class="form-control" formControlName="repassword" placeholder="再次输入密码" [ngClass]="{'form-control-danger':form.get('repassword').hasError('pattern') && form.get('repassword').touched}">                        
                     </div>
                     <div class="text-danger" *ngIf="form.get('password').hasError('required') && form.get('password').touched">
                            -- 两次密码不一致
                     </div>

                 </div>  
            </div>
            <div class="row">
                 <div class="col-sm-6">
                     <div class="form-group">
                          <label for="">手机号</label>  
                          <input type="text"  class="form-control" formControlName="telephone" placeholder="手机号码" [ngClass]="{'form-control-danger':form.get('telephone').hasError('pattern') && form.get('telephone').touched}" >
                     </div>
                     <div class="text-danger" *ngIf="form.get('telephone').hasError('pattern') && form.get('telephone').touched">
                            -- 请输入正确手机号码
                     </div>
                 </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-info btn-block" [disabled]="form.invalid">保存</button>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-default btn-block" (click)='back()' >返回</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>

<!-- 员工编号，岗位， sys/manager/staff -->