<script src="transferCity-edit.component.ts"></script>
<nb-card>
    <nb-card-header>车管所信息维护</nb-card-header>
    <nb-card-body>
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" *ngIf="isDataAvailable">
                        <label>转出地:</label>
                        <ngx-ys-autoinput [results_resource_url]="city_source_url_city" (_value)="getAutoCityValue($event)" [showProperty]="'name'"  [defaultValue]="cityDefault" ></ngx-ys-autoinput>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" *ngIf="isDataAvailable">
                        <label>车管所:</label>
                        <ngx-ys-autoinput [results_resource_url]="city_source_url" (_value)="getAutoManagementValue($event)" [showProperty]="'name'" [defaultValue]="managementDefault" ></ngx-ys-autoinput>
                    </div>
                    <div class="text-danger" *ngIf="form.get('management').hasError('required') && form.get('management').touched">
                        -- 必须输入车管所
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-info btn-block" >保存</button>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-default btn-block" (click)='back()'>返回</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>
