<div class="row ">
  <div class="col-md-3">
        <div class="form-group row">
          <label class="col-md-4 col-form-label text-right">{{startText}}:</label>
          <div class="col-md-8">
            <ngx-ys-calendar [placeholder]="startText" (_calendarValue)="getstartDateValue($event)" ></ngx-ys-calendar>
          </div>
        </div>
  </div>
  <div class="col-md-3">
        <div class="form-group row">
          <label class="col-md-4 col-form-label text-right">{{endText}}:</label>
          <div class="col-md-8">
            <ngx-ys-calendar [placeholder]="endText" (_calendarValue)="getendDateValue($event)" ></ngx-ys-calendar>
          </div>
        </div>
  </div>
  <div class="col-md-1">
    <button type="submit" class="btn btn btn-primary btn-block" (click)="search(startDate,endDate)"><i class="ion-search"></i>查询</button>
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-outline-primary btn-block" (click)="export(startDate,endDate)"><i class="ion-archive"></i>导出</button>
  </div>
</div>
