<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">{{ car_detail_title || '车辆信息'}}</span>
    </div>
  </nb-card-header>
  <nb-card-body [formGroup]="vehicle">
    <ngx-ys-dynamic-photo-form *ngIf="certificateFormConfig"
      [photos]="vehicleObj.get('photos')"
      [certificateFormConfig]="certificateFormConfig"
      [data]="(businessTradeForm && businessTradeForm.preVehicle) ? businessTradeForm.preVehicle.photos : null"
      [btn_show]="btn_show"
    ></ngx-ys-dynamic-photo-form>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">车牌号</span>
        <!--[readonly]="plateNumberReadonly"-->
        <input type="text" placeholder="" class="form-control" formControlName="plateNumber" [readonly]="!btn_show"
               [ngClass]="{'form-control-danger':vehicle.get('plateNumber').invalid && vehicle.get('plateNumber').touched}"/>
        <ngx-valid-error [errors]="errors.plateNumber" [control]="vehicle.get('plateNumber')"></ngx-valid-error>
      </div>
      <div class="input-group">
        <span class="input-group-addon">登记证书编号</span>
        <input type="text" placeholder="" class="form-control" formControlName="registration" [readonly]="!btn_show"
               [ngClass]="{'form-control-danger':vehicle.get('registration').invalid && vehicle.get('registration').touched}"/>
        <ngx-valid-error [errors]="errors.registration" [control]="vehicle.get('registration')"></ngx-valid-error>
      </div>
      <button class="btn btn-primary btn-sm" (click)="readVehicleCard()">读取行驶证</button>
    </div>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">车架号</span>
        <input type="text" placeholder="" class="form-control" formControlName="frameNumber" [readonly]="!btn_show"
               [ngClass]="{'form-control-danger':vehicle.get('frameNumber').invalid && vehicle.get('frameNumber').touched}"/>
        <ngx-valid-error [errors]="errors.frameNumber" [control]="vehicle.get('frameNumber')"></ngx-valid-error>
      </div>
      <div class="input-group">
        <span class="input-group-addon">发动机号</span>
        <input type="text" placeholder="" class="form-control" formControlName="engineNumber" [readonly]="!btn_show"
               [ngClass]="{'form-control-danger':vehicle.get('engineNumber').invalid && vehicle.get('engineNumber').touched}"/>
        <ngx-valid-error [errors]="errors.engineNumber" [control]="vehicle.get('engineNumber')"></ngx-valid-error>
      </div>
      <div class="input-group">
        <span class="input-group-addon">行驶证注册日期</span>
        <input type="text" placeholder="" class="form-control" formControlName="registrationDate" [readonly]="!btn_show"
               [ngClass]="{'form-control-danger':vehicle.get('registrationDate').invalid && vehicle.get('registrationDate').touched}"/>
        <ngx-valid-error [errors]="errors.registrationDate" [control]="vehicle.get('registrationDate')"></ngx-valid-error>
      </div>
    </div>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">厂牌型号</span>
        <input type="text" placeholder="" class="form-control" formControlName="labelCode" [readonly]="!btn_show"
               [ngClass]="{'form-control-danger':vehicle.get('labelCode').invalid && vehicle.get('labelCode').touched}"/>
        <ngx-valid-error [errors]="errors.labelCode" [control]="vehicle.get('labelCode')"></ngx-valid-error>
      </div>
      <div class="input-group">
        <span class="input-group-addon">车辆产地</span>
        <!--[attr.disabled]="!btn_show"-->
        <select class="form-control" formControlName="origin">
          <option *ngFor="let code of vehicleOrigin" [ngValue]="code.code">{{code.name}}</option>
        </select>
        <ngx-valid-error [errors]="errors.origin" [control]="vehicle.get('origin')"></ngx-valid-error>
      </div>
    </div>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">排量</span>
        <select class="form-control" formControlName="displacement">
          <option *ngFor="let code of vehicleDisplacement" [ngValue]="code.code">{{code.name}}</option>
        </select>
        <!--<input type="text" placeholder="" class="form-control" formControlName="displacement"-->
               <!--[ngClass]="{'form-control-danger':vehicle.get('displacement').invalid && vehicle.get('displacement').touched}"/>-->
        <ngx-valid-error [errors]="errors.displacement" [control]="vehicle.get('displacement')"></ngx-valid-error>
      </div>
      <div class="input-group">
        <span class="input-group-addon">排量区间</span>

        <select class="form-control" formControlName="range">
          <option *ngFor="let code of vehicleRange" [ngValue]="code.code">{{code.name}}</option>
        </select>
        <!--<input type="text" placeholder="" class="form-control" formControlName="range"-->
               <!--[ngClass]="{'form-control-danger':vehicle.get('range').invalid && vehicle.get('range').touched}"/>-->
        <ngx-valid-error [errors]="errors.range" [control]="vehicle.get('range')"></ngx-valid-error>
      </div>
      <div class="input-group">
        <span class="input-group-addon">手续费</span>
        <input type="text" placeholder="" class="form-control" formControlName="fee" [readonly]="!btn_show"
               [ngClass]="{'form-control-danger':vehicle.get('fee').invalid && vehicle.get('fee').touched}"/>
        <ngx-valid-error [errors]="errors.fee" [control]="vehicle.get('fee')"></ngx-valid-error>
      </div>
    </div>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">车辆类型</span>
        <!--<input type="text" placeholder="" class="form-control" formControlName="vehicleType"-->
               <!--[ngClass]="{'form-control-danger':vehicle.get('vehicleType').invalid && vehicle.get('vehicleType').touched}"/>-->
        <!--<ngx-ys-codeitem-droplist formControlName="useCharacter" (_selectedValue)="certificateTypeSelecteFunc($event)" [codeMap]="'useCharacter'"></ngx-ys-codeitem-droplist>-->
        <!--要拿到实体数据-->
        <select class="form-control" formControlName="vehicleType">
          <option *ngFor="let code of vehicleType" [ngValue]="code.code">{{code.name}}</option>
        </select>
        <ngx-valid-error [errors]="errors.vehicleType" [control]="vehicle.get('vehicleType')"></ngx-valid-error>
      </div>
      <div class="input-group">
        <span class="input-group-addon">车辆大小</span>
        <!--<input type="text" placeholder="" class="form-control" formControlName="size"-->
               <!--[ngClass]="{'form-control-danger':vehicle.get('size').invalid && vehicle.get('size').touched}"/>-->
        <select class="form-control" formControlName="size">
          <option *ngFor="let code of vehicleSize" [ngValue]="code.code">{{code.name}}</option>
        </select>
        <ngx-valid-error [errors]="errors.size" [control]="vehicle.get('size')"></ngx-valid-error>
      </div>
      <div class="input-group">
        <span class="input-group-addon">车辆性质</span>
        <!--<input type="text" placeholder="" class="form-control" formControlName="useCharacter"-->
        <!--[ngClass]="{'form-control-danger':vehicle.get('useCharacter').invalid && vehicle.get('useCharacter').touched}"/>-->
        <!--<ngx-ys-codeitem-droplist formControlName="useCharacter" (_selectedValue)="certificateTypeSelecteFunc($event)" [codeMap]="'useCharacter'"></ngx-ys-codeitem-droplist>-->
        <!--要拿到实体数据-->
        <select class="form-control" formControlName="useNature" (change)="useNatureSelecteFunc()">
          <option *ngFor="let code of useNature" [ngValue]="code.code">{{code.name}}</option>
        </select>
        <ngx-valid-error [errors]="errors.useCharacter" [control]="vehicle.get('useCharacter')"></ngx-valid-error>
      </div>
    </div>
    <!--<div class="input-group">-->
      <!--<div class="input-group">-->
        <!--<span class="input-group-addon">使用年限.</span>-->
        <!--<input type="text" placeholder="" class="form-control" formControlName="eeee"-->
               <!--[ngClass]="{'form-control-danger':vehicle.get('eeee').invalid && vehicle.get('eeee').touched}"/>-->
        <!--<ngx-valid-error [errors]="errors.eeee" [control]="vehicle.get('eeee')"></ngx-valid-error>-->
      <!--</div>-->
      <!--<div class="input-group">-->
        <!--<span class="input-group-addon">行驶证地址.</span>-->
        <!--<input type="text" placeholder="" class="form-control" formControlName="eeee"-->
               <!--[ngClass]="{'form-control-danger':vehicle.get('eeee').invalid && vehicle.get('eeee').touched}"/>-->
        <!--<ngx-valid-error [errors]="errors.eeee" [control]="vehicle.get('eeee')"></ngx-valid-error>-->
      <!--</div>-->
    <!--</div>-->
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">使用性质</span>
        <!--<input type="text" placeholder="" class="form-control" formControlName="useCharacter"-->
        <!--[ngClass]="{'form-control-danger':vehicle.get('useCharacter').invalid && vehicle.get('useCharacter').touched}"/>-->
        <!--<ngx-ys-codeitem-droplist formControlName="useCharacter" (_selectedValue)="certificateTypeSelecteFunc($event)" [codeMap]="'useCharacter'"></ngx-ys-codeitem-droplist>-->
        <!--要拿到实体数据-->
        <select class="form-control" formControlName="useCharacter" (change)="useCharacterSelecteFunc()" [compareWith]="useCharacterCompareWithFunc">
          <option *ngFor="let code of useCharacter" [ngValue]="code.code">{{code.name}}</option>
        </select>
        <ngx-valid-error [errors]="errors.useCharacter" [control]="vehicle.get('useCharacter')"></ngx-valid-error>
      </div>
      <div class="input-group">
        <span class="input-group-addon">累计里程</span>
        <input type="text" placeholder="" class="form-control" formControlName="mileage" [readonly]="!btn_show"
               [ngClass]="{'form-control-danger':vehicle.get('mileage').invalid && vehicle.get('mileage').touched}"/>
        <ngx-valid-error [errors]="errors.mileage" [control]="vehicle.get('mileage')"></ngx-valid-error>
      </div>
    </div>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">其它说明</span>
        <input type="text" placeholder="" class="form-control" formControlName="otherConditions" [readonly]="!btn_show"
               [ngClass]="{'form-control-danger':vehicle.get('otherConditions').invalid && vehicle.get('otherConditions').touched}"/>
        <ngx-valid-error [errors]="errors.otherConditions" [control]="vehicle.get('otherConditions')"></ngx-valid-error>
      </div>
      <!--<div class="input-group">-->
        <!--<span class="input-group-addon">交易价格.</span>-->
        <!--<input type="text" placeholder="" class="form-control" formControlName="eeee"-->
               <!--[ngClass]="{'form-control-danger':vehicle.get('eeee').invalid && vehicle.get('eeee').touched}"/>-->
        <!--<ngx-valid-error [errors]="errors.eeee" [control]="vehicle.get('eeee')"></ngx-valid-error>-->
      <!--</div>-->
      <!--<div class="input-group">-->
        <!--<span class="input-group-addon">评估费.</span>-->
        <!--<input type="text" placeholder="" class="form-control" formControlName="eeee"-->
               <!--[ngClass]="{'form-control-danger':vehicle.get('eeee').invalid && vehicle.get('eeee').touched}"/>-->
        <!--<ngx-valid-error [errors]="errors.eeee" [control]="vehicle.get('eeee')"></ngx-valid-error>-->
      <!--</div>-->
      <!--<div class="input-group">-->
      <!--<span class="input-group-addon">评估费.</span>-->
      <!--<input type="text" placeholder="" class="form-control" formControlName="eeee"-->
      <!--[ngClass]="{'form-control-danger':vehicle.get('eeee').invalid && vehicle.get('eeee').touched}"/>-->
      <!--<ngx-valid-error [errors]="errors.eeee" [control]="vehicle.get('eeee')"></ngx-valid-error>-->
      <!--</div>-->
    </div>
    <!--<div class="input-group">-->
      <!--<div class="input-group">-->
        <!--<span class="input-group-addon">年审有效期.</span>-->
        <!--<input type="text" placeholder="" class="form-control" formControlName="eeee"-->
               <!--[ngClass]="{'form-control-danger':vehicle.get('eeee').invalid && vehicle.get('eeee').touched}"/>-->
        <!--<ngx-valid-error [errors]="errors.eeee" [control]="vehicle.get('eeee')"></ngx-valid-error>-->
      <!--</div>-->
      <!--<div class="input-group">-->
        <!--<span class="input-group-addon">保险有效期.</span>-->
        <!--<input type="text" placeholder="" class="form-control" formControlName="eeee"-->
               <!--[ngClass]="{'form-control-danger':vehicle.get('eeee').invalid && vehicle.get('eeee').touched}"/>-->
        <!--<ngx-valid-error [errors]="errors.eeee" [control]="vehicle.get('eeee')"></ngx-valid-error>-->
      <!--</div>-->
      <!--<div class="input-group">-->
        <!--<span class="input-group-addon">路桥有效期.</span>-->
        <!--<input type="text" placeholder="" class="form-control" formControlName="eeee"-->
               <!--[ngClass]="{'form-control-danger':vehicle.get('eeee').invalid && vehicle.get('eeee').touched}"/>-->
        <!--<ngx-valid-error [errors]="errors.eeee" [control]="vehicle.get('eeee')"></ngx-valid-error>-->
      <!--</div>-->
    <!--</div>-->
  </nb-card-body>
</nb-card>
