<div class="camera float-left {{col_sm_6}}" [style.background-image]="'url(' + source + ')'">
  <div (click)="showPicModal(source)" class="pic-modal-area"></div>
  <a *ngIf="btn_check"
     [class]="wrong_checked ? 'flag error' : 'flag success'"
     (click)="changeChecked()"
  ><i
      [class]="wrong_checked ? 'fa fa-ban' : 'fa fa-check'"
  ></i></a>
  <span>{{ title }}
    <div class="webcam_btn float-right">
      <div *ngIf="btn_show">
        <!--<i class="fa fa-bandcamp" (click)="ngOnChanges()" aria-hidden="true" title="当前图路径"></i> &nbsp;-->
        <i class="fa fa-camera-retro" aria-hidden="true" (click)="showCamera()" title="隐藏或显示摄像头"></i> &nbsp;
        <i class="fa fa-camera" aria-hidden="true" (click)="paizhao()" title="拍照并上传"></i> &nbsp;
        <ngx-ys-camera-upload (_new_img_url)='onUploadComplete($event)' [upload_url]="this.webcam.api_url"></ngx-ys-camera-upload>
      </div>
    </div>
  </span>
</div>
