<nb-card>
  <nb-card-header class="d-flex">
    <div class="p-2 mr-auto">新增商户</div>
    <div class="p2">
      <a (click)="location.back()" class="btn btn-secondary btn-sm">返回</a>
    </div>
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="_formGroup" (ngSubmit)="save()">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label>商户名</label>
            <input type="text" class="form-control" name="name" placeholder="商户名"
                   formControlName="name"
                   [ngClass]="{'form-control-danger':_formGroup.get('name').invalid && _formGroup.get('name').touched}">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>商户编号</label>
            <input type="text" class="form-control" id="code" name="code" placeholder="商户编号"
                   formControlName="code"
                   [ngClass]="{'form-control-danger':_formGroup.get('code').invalid && _formGroup.get('code').touched}">
          </div>
          <div class="text-danger"
               *ngIf="_formGroup.get('code').hasError('required') && _formGroup.get('code').touched">
            &#45;&#45; 必须输入商户编号
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>证件号</label>
            <input type="text" class="form-control" name="certCode" placeholder="证件号"
                   formControlName="certCode"
                   [ngClass]="{'form-control-danger':_formGroup.get('certCode').invalid && _formGroup.get('certCode').touched}">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>地址</label>
            <input type="text" class="form-control" name="address" placeholder="地址"
                   formControlName="address"
                   [ngClass]="{'form-control-danger':_formGroup.get('address').invalid && _formGroup.get('address').touched}">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>联系方式</label>
            <input type="text" class="form-control" name="phone" placeholder="联系方式"
                   formControlName="phone"
                   [ngClass]="{'form-control-danger':_formGroup.get('phone').invalid && _formGroup.get('phone').touched}">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>证件有效期 格式"20191212"</label>
            <input type="text" class="form-control" name="endDate" placeholder="证件有效期 如:20191212"
                   formControlName="endDate"
                   [ngClass]="{'form-control-danger':_formGroup.get('endDate').invalid && _formGroup.get('endDate').touched}">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>交易折扣</label>
            <input type="number" class="form-control" name="discount" placeholder="交易折扣"
                   formControlName="discount"
                   [ngClass]="{'form-control-danger':_formGroup.get('discount').invalid && _formGroup.get('discount').touched}">
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label>是否个人</label>
            <select class="form-control" formControlName="isPersonal"
                    [ngClass]="{'form-control-danger':_formGroup.get('isPersonal').invalid && _formGroup.get('isPersonal').touched}">
              <option value="">是否个人</option>
              <option value="1">是</option>
              <option value="0">否</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>租车位</label>
            <select class="form-control" formControlName="isCarRental"
                    [ngClass]="{'form-control-danger':_formGroup.get('isCarRental').invalid && _formGroup.get('isCarRental').touched}">
              <option value="">是否租车位</option>
              <option value="1">场内</option>
              <option value="0">场外</option>
            </select>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label>是否交易</label>
            <select class="form-control" formControlName="isDeal"
                    [ngClass]="{'form-control-danger':_formGroup.get('isDeal').invalid && _formGroup.get('isDeal').touched}">
              <option value="">是否交易</option>
              <option value="1">是</option>
              <option value="0">否</option>
            </select>
          </div>
        </div>
        <div class="col-sm-12" style="margin-bottom: 1rem;">
            <ngx-ys-camera *ngFor="let photo of photos" [title]="photo.title" [source]="photo.source"
                           (_changeSource)="onChangeSource($event,photo)" [col_sm_6]="'col-sm-6'"></ngx-ys-camera>
        </div>
        <div class="col-sm-12">
          <div class="col-sm-3 float-right">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="_formGroup.invalid">保存</button>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
