<nb-card xmlns="http://www.w3.org/1999/html">
  <nb-card-header class="d-flex">
    <div class="p-2 mr-auto">月交易情况汇总表</div>
    <div class="p2">
      <!--<a [routerLink]="'edit'" class="btn btn-primary btn-sm">新增</a>-->
      <button type="button" class="btn btn-sm btn-outline-success" (click)="toggle(visibility)" [ngClass]="{'active':showFilter}" ><i class="ion-funnel"></i></button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [@visibilityChanged]="visibility" (submit)="codeList.reload()">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group form-group-sm">
            <span>报表时间：</span>
            <!--默认今年-->
            <ngx-ys-calendar class="input-custom" [placeholder]="'选择报表时间'" ></ngx-ys-calendar>
          </div>
        </div>
        <div class="col-sm-2 form-group">
          <button type="submit" class="btn btn btn-primary"><i class="ion-search"></i>查询</button>
        </div>
        <div class="col-sm-2 form-group">
          <button type="reset" class="btn btn-outline-primary" ><i class="ion-archive"></i>导出</button>
        </div>
      </div>
    </form>
    <div class="height"></div>
    <div class="padding">
      <h3>月交易情况汇总表</h3>
      <div class="time-area">
        <span>{{time.years}}</span>
        <span>年</span>
      </div>
      <div class="height"></div>
      <table border="1">
        <tr>
          <th rowspan="2">月份</th>
          <th rowspan="2">交易量</th>
          <th rowspan="2">交易额<br>（万元）</th>
          <th colspan="3">手续费<br>（元）</th>
        </tr>
        <tr>
          <td>公司</td>
          <td>市场</td>
          <td>合计</td>
        </tr>
        <tr>
        </tr>
      </table>
    </div>
  </nb-card-body>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-5"></div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary" (click)="goBack()">返回</button>
      </div>
      <div class="col-sm-5"></div>
    </div>
  </nb-card-body>
</nb-card>

