<nb-card>
    <nb-card-header>商户管理信息维护</nb-card-header>
    <nb-card-body>
        <form [formGroup]="form" (ngSubmit)="save()" class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>商户名称:</label>
                        <input type="text" class="form-control" formControlName="name" placeholder="商户名称" [ngClass]="{'form-control-danger':form.get('name').hasError('required') && form.get('name').touched}">
                    </div>
                    <div class="text-danger" *ngIf="form.get('name').hasError('required') && form.get('name').touched">
                        --必须输入商户名称
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>商户编号:</label>
                        <input type="text" class="form-control" formControlName="code" placeholder="商户编号" [ngClass]="{'form-control-danger':form.get('code').hasError('required') && form.get('code').touched}">
                    </div>
                    <div class="text-danger" *ngIf="form.get('code').hasError('required') && form.get('code').touched">
                        --必须输入商户编号
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>证件有效期:</label>
                        <input type="text" class="form-control" formControlName="endTime" placeholder="证件有效期" [ngClass]="{'form-control-danger':form.get('endTime').hasError('required') && form.get('endTime').touched}">
                    </div>
                    <div class="text-danger" *ngIf="form.get('endTime').hasError('required') && form.get('endTime').touched">
                        -- 必须输入证件有效期
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                      <div class="form-group">
                          <label for="">组织机构代码</label>
                          <input type="text" class="form-control" formControlName="certCode" placeholder="组织机构代码" [ngClass]="{'form-control-danger':form.get('certCode').hasError('required') && form.get('certCode').touched}">
                      </div>
                      <div class="text-danger" *ngIf="form.get('certCode').hasError('required') && form.get('certCode').touched">
                            -- 必须输入组织机构代码
                      </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="">交易折扣</label>
                        <input type="number" class="form-control" formControlName="discount" placeholder="交易折扣">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="">是否租车位</label>
                        <select name="" id="" class="form-control" formControlName="isCarRental"  >
                            <option value="0">场外</option>
                            <option value="1">场内</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="">是否交易</label>
                        <select name="" class="form-control" formControlName="isDeal">
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="">是否个人</label>
                        <select name="" class="form-control" formControlName="isPersonal">
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="col-sm-4">
                     <div class="form-group">
                        <label for="">联系方式</label>
                        <input type="text" class="form-control" formControlName="phone" placeholder="联系方式" [ngClass]="{'form-control-danger':form.get('phone').hasError('pattern') && form.get('phone').touched}">
                     </div>
                 </div>
                 <div class="col-sm-6">
                    <div class="form-group">
                         <label for="">地址</label>
                         <input type="text"  class="form-control" formControlName="address" placeholder="地址" [ngClass]="{'form-control-danger':form.get('address').hasError('pattern') && form.get('address').touched}" >
                    </div>
                    <div class="text-danger" *ngIf="form.get('address').hasError('pattern') && form.get('address').touched">
                           -- 请输入地址
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                       <label for="">机构证正面</label>
                    </div>
                </div>
                <div class="col-sm-6">
                   <div class="form-group">
                        <label for="">机构证反面</label>
                   </div>
               </div>
           </div>
            <div class="row">
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-info" [disabled]="form.invalid">保存</button>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-default" (click)='back()' >返回</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>
