<nb-card>
  <nb-card-header class="d-flex">
    <div class="p-2 mr-auto">结算详情</div>
    <div class="p2">
      <a [routerLink]="'..'" class="btn btn-secondary btn-sm">返回</a>
    </div>
  </nb-card-header>
  <nb-card-body>
      <div class="row">
        <div class="col-sm-1">
          <div class="form-group form-group-sm">
            <button type="submit" class="btn btn btn-primary btn-block" (click)="Settlement()" *ngIf="!againBanlance">结算</button>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group form-group-sm">
            <button  class="btn btn btn-primary btn-block" (click)="SettlementCarLink()" *ngIf="againBanlance">重新结算</button>
          </div>
        </div>
      </div>

  </nb-card-body>
  <nb-card-body>
    <table class="table table-bordered table-striped">
      <tr>
        <th>序号</th>
        <th>结算金额</th>
        <th>操作员</th>
        <th>操作时间</th>
        <th>支付状态</th>
        <th>结算车辆</th>
      </tr>
        <tr *ngFor=" let item  of balanceData ; let i = index" >
          <ng-container *ngIf="againBanlance">
            <td>{{i+1}}</td>
            <td>{{item.settleAccounts}}</td>
            <td> {{item.creator?.userName}}</td>
            <td>{{item.createTime | date:'yyyy-MM-dd HH:mm:ss '}}</td>
            <td>{{item.status==1?'已支付':'未支付'}}</td>
            <td><a  class="badge badge-primary link" (click)="carLink()">车辆详情</a></td>
          </ng-container>
        </tr>

      <tr *ngFor=" let item  of settleDate ; let i = index" >
        <ng-container *ngIf="!againBanlance">
          <td>{{i+1}}</td>
          <td>{{item.settleAccounts}}</td>
          <td>{{item.creator.userName}}</td>
          <td>{{item.createTime | date:'yyyy-MM-dd HH:mm:ss '}}</td>
          <td>{{item.status==1?'已支付':'未支付'}}</td>
          <td><a class="badge badge-primary link" (click)="carLink()">车辆详情</a></td>
        </ng-container>
      </tr>
    </table>
  </nb-card-body>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <table  class="table table-bordered">
          <tr class="align-items-center">
            <td>已结算</td>
            <td>已支付</td>
            <td>待支付</td>
            <td></td>
          </tr>
          <tr>
            <td class="align-middle">{{discounted}}</td>
            <td class="align-middle">{{paying}}</td>
            <td class="align-middle">{{pay}}</td>
            <td class="align-middle"><button class="btn btn-sm btn-success" (click)="payAccount()" *ngIf="payButton">支付</button></td>
          </tr>
        </table>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </nb-card-body>
  <nb-card-body>
    <button class="btn btn-primary" (click)="goBack()">返回</button>
  </nb-card-body>
</nb-card>
