<nb-card>
  <nb-card-header class="d-flex">
    <div class="p-2 mr-auto">年交易情况汇总表报表</div>
    <div class="p2">
      <button type="button" class="btn btn-sm btn-outline-success" (click)="toggle(visibility)" [ngClass]="{'active':showFilter}" ><i class="ion-funnel"></i></button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [@visibilityChanged]="visibility">
      <ngx-report-form-search  (btn_search)="search($event)" (btn_export)="export($event)" [startText]="'开始时间'" [endText]="'结束时间'" >
      </ngx-report-form-search>
    </form>
    <div class="height"></div>
    <div class="padding">
      <h3>年交易情况汇总表报表</h3>
      <div class="time-area">
        <span>年</span>
      </div>
      <div class="height"></div>
      <table border="1">
        <tr>
          <th rowspan="2">月份</th>
          <th rowspan="2">合计</th>
          <th colspan="4">按车型</th>
          <th colspan="2">按转移登记性质</th>
        </tr>
        <tr>
          <td>轿车</td>
          <td>客车</td>
          <td>货车</td>
          <td>其他</td>
          <td>本地过户</td>
          <td>转籍交易</td>
        </tr>
        <tr *ngFor="let item of dataList">
          <th>{{item.month}}</th>
          <th>{{item.total}}</th>
          <th>{{item.saloonCar}}</th>
          <th>{{item.passengerCar}}</th>
          <th>{{item.goodsCar}}</th>
          <th>{{item.others}}</th>
          <th>{{item.noManagement}}</th>
          <th>{{item.management}}</th>
        </tr>
      </table>
    </div>
  </nb-card-body>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-5"></div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary" (click)="goBack()">返回</button>
      </div>
      <div class="col-sm-5"></div>
    </div>
  </nb-card-body>
</nb-card>

