<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">预审业务 - 预审录入 1 - 车牌与商户</span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">车牌号</span>
        <input class="form-control" placeholder="请输入车牌号" type="text" [(ngModel)]="vehicle.plateNumber" (blur)="carLsnumBlur()" />
        <!--TODO: 必须先可以输入并验证好车牌号，然后才让进行代办商户代办人的选择，才可以进行下一步-->
      </div>
      <div class="input-group">
        <span class="input-group-addon">代办商户</span>
        <ngx-ys-autoinput [results_resource_url]="autoinput_shanghu_source_url" (_value)="getSelectedDealer($event)" [showProperty]="'name'" [defaultValue]="dealer"></ngx-ys-autoinput>
      </div>
    </div>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">代办人</span>
        <select class="form-control" [disabled]="!dealerIsOk" [(ngModel)]="linkman" (change)="linkmanSelecteFunc()" [compareWith]="linkmanCompareWithFunc">
          <option value="">--请选择--</option>
          <option *ngFor="let linkmanitem of linkManData" [ngValue]="linkmanitem">{{linkmanitem.name}}</option>
        </select>
      </div>
      <div class="input-group">
        <span class="input-group-addon">代办人手机</span>
        <input class="form-control" placeholder="请先选择商户和代办人" type="text"  [disabled]="true" [value]="linkmanSelected.phone || null "/>
      </div>
    </div>
    <div class="camera col-sm-6 float-left" *ngFor="let camera of cameras"
         [style.background-image]="'url(' + camera.source + ')'">
      <span>{{ camera.title }}</span>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <span> &nbsp; &nbsp; * 请UI修改默认图片 <!-- TODO:* 请UI修改默认图片 -->
      <div class="size-container">
        <div class="float-right">
          <button class="btn btn-primary btn-lg" (click)="onSubmit()" [disabled]="!linkmanSelected.phone">下一步</button>
        </div>
      </div>
    </span>
  </nb-card-footer>
</nb-card>
