<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">受托人信息</span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">受托人姓名</span>
        <input type="text" placeholder="" class="form-control" [(ngModel)]="trusterIdcardData.Name"/>
      </div>
      <div class="input-group">
        <span class="input-group-addon">受托人身份证号</span>
        <input type="text" placeholder="" class="form-control" [(ngModel)]="trusterIdcardData.IdCardNo"/>
      </div>
      <button class="btn btn-primary btn-sm" (click)="readTrusterIdCard()">读受托人身份证</button>
    </div>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">受托人手机</span>
        <input type="text" placeholder="" class="form-control"/>
      </div>
      <div class="input-group">
        <span class="input-group-addon">受托人地址</span>
        <input type="text" placeholder="" class="form-control" [(ngModel)]="trusterIdcardData.Address"/>
      </div>
      <div class="input-group">
        <span class="input-group-addon">受托人身份有效期</span>
        <input type="text" placeholder="" class="form-control" [(ngModel)]="trusterIdcardData.UseEnd"/>
      </div>
    </div>
  </nb-card-body>
</nb-card>
