<nb-card>
   <nb-card-header>补缴</nb-card-header>
   <nb-card-body>
     <div class="row ">
       <label  class="col-md-1">流水号:</label>
       <div class="col-md-3 ">
          <input type="text" class="form-control" [(ngModel)]="archivesNo" placeholder="请输入或扫描流水号" maxlength="16" (keyup)="argNoSearch($event)">
       </div>
       <div class="col-md-4">
         <button class="btn btn-sm btn-success">查询</button>
       </div>
     </div>
     <div class="container">
       <div class="row">
         <div class="col-md-2">曾经使用过的发票号:</div>
         <div class="col-md-8">
              <span *ngFor=" let item of billList">
                 <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" value="{{item.id}}" [(ngModel)]="selectBillNo" name="billNoList">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{item.billNo}}</span>
                </label>
             </span>
         </div>
       </div>
       <div class="row">
         <div class="col-md-2">
           <select name=""  [(ngModel)]="needModify" class="form-control">
             <option value="">是否修改资料</option>
             <option value="true">是</option>
             <option value="false">否</option>
           </select>
         </div>
         <div class="col-md-2">
           <button class="btn btn-warning" (click)="confirm()">确认补缴</button>
         </div>
       </div>
     </div>
   </nb-card-body>

</nb-card>
