<nb-card>
  <nb-card-header class="d-flex">
    <div class="p-2 mr-auto">返点报表</div>
    <div class="p2">
      <!--<a [routerLink]="'edit'" class="btn btn-primary btn-sm">新增</a>-->
      <button type="button" class="btn btn-sm btn-outline-success" (click)="toggle(visibility)" [ngClass]="{'active':showFilter}" ><i class="ion-funnel"></i></button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [@visibilityChanged]="visibility"  [formGroup]="form">
      <div class="row">
        <div class="col-sm-2">
          <div class="form-group form-group-sm">
            <select class="form-control" name="type" formControlName="collectType">
              <option value="">汇总方式</option>
              <option value="0">日</option>
              <option value="1">月</option>
              <option value="2">任意时间</option>
            </select>
          </div>
        </div>
        <div class="col-sm-2" *ngIf="form.value.collectType=='0'">
          <div class="form-group form-group-sm">
            <ngx-ys-calendar [placeholder]="'日'" (_calendarValue)="getDayValue($event)" ></ngx-ys-calendar>
          </div>
        </div>
        <div class="col-sm-2" *ngIf="form.value.collectType=='1'">
          <div class="form-group form-group-sm">
            <ngx-ys-calendar [placeholder]="'月'" [dateFormat]="'yy-mm'" (_calendarValue)="getMonthValue($event)"  ></ngx-ys-calendar>
          </div>
        </div>
        <div class="col-sm-2"  *ngIf="form.value.collectType=='2'">
          <div class="form-group form-group-sm">
            <ngx-ys-calendar [placeholder]="'开始时间'" (_calendarValue)="getstartDateValue($event)" ></ngx-ys-calendar>
          </div>
        </div>
        <div class="col-sm-2" *ngIf="form.value.collectType=='2'">
          <div class="form-group form-group-sm">
            <ngx-ys-calendar [placeholder]="'结束时间'" (_calendarValue)="getendDateValue($event)" ></ngx-ys-calendar>
          </div>
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn btn-primary btn-block" (click)="search()"><i class="ion-search"></i>查询</button>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-outline-primary btn-block" (click)="export()"><i class="ion-archive"></i>导出</button>
        </div>
      </div>
    </form>
    <div class="height"></div>
    <div>
      <table border="1">
        <tr>
          <th>项目名称</th>
          <th>项目编号</th>
          <th>返现金额</th>
          <th>车辆台数(/台)</th>
        </tr>
        <tr *ngFor="let item of dataList">
           <th>{{item.name}}</th>
           <th>{{item.id}}</th>
           <th>{{item.discount}}</th>
           <th>{{item.count}}</th>
        </tr>
      </table>
    </div>
  </nb-card-body>
</nb-card>
