<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">预审业务 - 预审审核 - 卖方拍照</span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ngx-ys-camera *ngFor="let photo of cameras" [title]="photo.title" [source]="photo.source"></ngx-ys-camera>
    <div class="input-group">
      <button class="btn btn-primary btn-sm" (click)="fingerRead()">指纹读取</button>
    </div>
    <div class="input-group">
      <img [src]="fingerImgUrl" alt="指纹照片" style="max-width: 256px;max-height: 288px;">
    </div>
    <div class="float-right">
      <button class="btn btn-primary btn-lg" (click)="onSubmit()">审核通过</button>
    </div>
  </nb-card-body>
</nb-card>
