@import '../../../@theme/styles/themes';
@include nb-install-component() {
  .btn.dropdown-toggle, .btn.btn-sm {
    padding: 2px 10px;
    border-width: 1px;
    border-radius: 0.25rem;
  }
  .btn.dropdown-toggle {
    padding: 2px 5px;
  }
  .btn.btn-sm.has-children {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

  }
  .btn.dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .dropdown-menu {
    //background-color: nb-theme(menu-bg);
    //border-top: 1px solid #654ddb;
    margin: 0;
    border-radius: 0 0 0.5rem 0.5rem;
    border: none;
    //width: %;
    //color: nb-theme(menu-fg);
    padding: 0.75rem 0;
    min-width: 100%;
    //font-weight: nb-theme(menu-font-weight);
    a{
      text-decoration: none;
      //text-underline: none;
      color:#fff;
      display: inline-block;
      width: 100%;
    }
    color:#fff;
  }
  .show .btn {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .dropdown-item {
    //color: nb-theme(menu-fg);
    //background-color: nb-theme(menu-bg);
    padding: 2px 10px;
  }
  .dropdown-item:hover {
    color: #333;
    a{
      color:#333;
      cursor: pointer;
    }
    //background-color: nb-theme(menu-active-bg);
    font-weight: nb-theme(menu-active-font-weight);
    //border-color: transparent;
  }
}
