<div ngbDropdown #drop="ngbDropdown" class="text-center btn-group ngx-menu-cell"  *ngIf="menus && menus.length > 0">
  <button type="button" class="btn btn-sm btn-success has-children" (click)="$event.stopPropagation();default.callback(data,drop)">
    {{default.text}}
  </button>
  <button class="btn btn-success dropdown-toggle-split" ngbDropdownToggle></button>
  <ul ngbDropdownMenu class="bg-success">
    <ng-container *ngFor="let menu of menus">
      <ng-container *ngIf="!menu.show || menu.show(data)">
        <li [ngClass]="[menu.icon,'dropdown-item', 'clickable']">
          <a *ngIf="menu.isCallback()" (click)="menu.callback(data)">
            {{menu.text}}
          </a>
          <a *ngIf="menu.isUrl()" [routerLink]="[menu.callback, data]">
            {{menu.text}}
          </a>
        </li>
      </ng-container>
    </ng-container>
  </ul>
</div>
<ng-container *ngIf="!menus || !menus.length">
  <a *ngIf="default.isCallback()" (click)="default.callback(data)" class="btn btn-sm btn-success">
    {{default.text}}
  </a>
  <a *ngIf="default.isUrl()" [routerLink]="[default.callback, data]" class="btn btn-sm btn-success">
    {{default.text}}
  </a>
</ng-container>
