<!--<form (submit)="itemList.reload()">-->
<form #filterForm>
  <div class="row" *ngIf="prepareFilter">
    <div *ngFor="let field of filter.__fields" [class]="field._class">
      <div class="form-group form-group-sm">
        <input name="name" class="form-control" [(ngModel)]="filter[field._name]" type="text" [placeholder]="field._placeholder"/>
      </div>
    </div>
    <div *ngFor="let button of filter.__buttons" [class]="button._div_class">
      <button [type]="button._type" [class]="button._class" (click)="submitFilter(filterForm)"><i [class]="button._icon"></i>{{button._label}}</button>
    </div>
  </div>
</form>
