<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">预审录入</span>
      <ngx-ys-nav-step
        [steps]="_businessFormGroup.stepMenuPrejudicationRecording"
        [activeIndex]="2"
      ></ngx-ys-nav-step>
    </div>
  </nb-card-header>
  <nb-card-body>
  </nb-card-body>
</nb-card>
<ngx-ys-cardetail
  [car_detail_title]="'车辆信息'"
  [vehicleObj]="_formGroup"
  [certificateFormConfig]="{formName: '预审录入车辆'}"
></ngx-ys-cardetail>
<div class="float-right">
  <button class="btn btn-primary btn-lg" (click)="onSubmit()" [disabled]="_formGroup.invalid">下一步</button>
</div>
