<nb-card>
  <nb-card-header class="d-flex">
    <div class="p-2 mr-auto">车辆详情</div>
    <div class="p2">
      <a [routerLink]="'..'" class="btn btn-secondary btn-sm">返回</a>
    </div>
  </nb-card-header>
    <nb-card-body  *ngIf="info">
       <div class="row" >
          <div class="col-md-2">结算金额：</div> <div class="col-md-2">{{info.nowAccounts}}</div>
       </div>
      <div class="row">
        <div class="col-md-2">操作员：</div> <div class="col-md-2" *ngIf="info.creator">{{info.creator.userName}}</div>
      </div>
      <div class="row">
        <div class="col-md-2">操作时间：</div> <div class="col-md-2" >{{info.createTime}}</div>
      </div>
    </nb-card-body>
   <nb-card-footer>
       <div  class="row">
          <div class="col-md-1"> <button class="btn btn-warning btn-sm" (click)="confirm()">确定结算</button> </div>
       </div>
   </nb-card-footer>
</nb-card>
