.certifiCate_code{
    width: 200px;
    min-height: 150px;
}
ul{
   border: 2px solid #dddd;
   padding: 0px;
   margin: 0px;
}
ul li{
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid  #dddddd;
    cursor: pointer;
    text-align: left;
}
//ul li h3{
//  text-indent: 10px!important;
//}
  #codeText:hover{
    //background-color:#eee ;
    color:#40dc7e;
}
  #codeText{
    position: relative;
  }
 #codeText i{
   position: absolute;
   right: 10px;
 }
.active{
    color:#40dc7e;
}
