<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">{{pageTitle || '业务查询'}}</span>
    </div>
  </nb-card-header>
  <!--*ngIf="!canEdit"-->
  <nb-card-body>
    <div class="input-group">
      <div *ngIf="'trans' === batchNoType; then transBatchNo else prejudicationBatchNo"></div>
      <ng-template #transBatchNo>
        <div class="input-group">
          <span class="input-group-addon">批次号</span>
          <input class="form-control" type="text" placeholder="输入过户批次号"
                 [(ngModel)]="trade.transfer.batchNo"/>
          <button class="btn btn-primary btn-sm"
                  (click)="getTradeByTransBatchNo(trade.transfer.batchNo)"
                  [disabled]="trade.transfer.batchNo.length !== 18"
          >查询</button>
        </div>
      </ng-template>
      <ng-template #prejudicationBatchNo>
        <div class="input-group">
          <span class="input-group-addon">批次号</span>
          <input class="form-control" type="text" placeholder="输入预审批次号"
                 [(ngModel)]="trade.prejudication.batchNo"/>
          <button class="btn btn-primary btn-sm"
                  (click)="getTradeByBatchNo(trade.prejudication.batchNo)"
                  [disabled]="trade.prejudication.batchNo.length !== 18"
          >查询</button>
        </div>
      </ng-template>
      <div class="input-group">
        <span class="input-group-addon">代办商户</span>
        <label class="form-control">{{ 'trans' === batchNoType ? trade.transferVehicle.transferVehicle.merchant.name : trade.preVehicle.preVehicle.merchant.name }}</label>
      </div>
    </div>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">代办人</span>
        <label class="form-control">{{'trans' === batchNoType ? trade.transferVehicle.transferVehicle.filingInfo.name : trade.preVehicle.preVehicle.filingInfo.name}}</label>
      </div>
      <div class="input-group">
        <span class="input-group-addon">代办人手机</span>
        <input class="form-control" type="text"  [disabled]="true" [value]="'trans' === batchNoType ? trade.transferVehicle.transferVehicle.filingInfo.phone : trade.preVehicle.preVehicle.filingInfo.phone "/>
      </div>
    </div>
    <div class="prompt">{{prompt}}</div>
  </nb-card-body>



  <!--<nb-card-body *ngIf="canEdit">-->
    <!--<div class="input-group">-->
      <!--<div class="input-group">-->
        <!--<span class="input-group-addon">批次号</span>-->
        <!--<input class="form-control" type="number" placeholder="输入批次号以查询" [(ngModel)]="trade.prejudication.business.archiveNo" #archiveNo/>-->
        <!--<button class="btn btn-primary btn-sm" (click)="getTradeByArchiveNo(archiveNo.value)" [disabled]="archiveNo.value.length !== 18">查询</button>-->
      <!--</div>-->
      <!--<div class="input-group">-->
        <!--<span class="input-group-addon">代办商户</span>-->
        <!--<label class="form-control">{{trade.preVehicle.preVehicle.filingInfo.merchant.account.accountName || ''}}</label>-->
        <!--&lt;!&ndash;<ngx-ys-autoinput [results_resource_url]="autoinput_shanghu_source_url"&ndash;&gt;-->
        <!--&lt;!&ndash;(_value)="getSelectedDealer($event)"&ndash;&gt;-->
        <!--&lt;!&ndash;[showProperty]="'name'"&ndash;&gt;-->
        <!--&lt;!&ndash;[disabled]="true"&ndash;&gt;-->
        <!--&lt;!&ndash;[defaultValue]="dealer"&ndash;&gt;-->
        <!--&lt;!&ndash;&gt;</ngx-ys-autoinput>&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="input-group">-->
      <!--<div class="input-group">-->
        <!--<span class="input-group-addon">代办人</span>-->
        <!--<label class="form-control">{{trade.seller.seller.name || ''}}</label>-->
        <!--&lt;!&ndash;<select class="form-control" [disabled]="true" [(ngModel)]="linkman" (change)="linkmanSelecteFunc()" [compareWith]="linkmanCompareWithFunc">&ndash;&gt;-->
        <!--&lt;!&ndash;<option value="">&#45;&#45;请选择&#45;&#45;</option>&ndash;&gt;-->
        <!--&lt;!&ndash;<option *ngFor="let linkmanitem of linkManData" [ngValue]="linkmanitem">{{linkmanitem.name}}</option>&ndash;&gt;-->
        <!--&lt;!&ndash;</select>&ndash;&gt;-->
      <!--</div>-->
      <!--<div class="input-group">-->
        <!--<span class="input-group-addon">代办人手机</span>-->
        <!--<input class="form-control" type="text"  [disabled]="true" [value]="trade.seller.seller.phone || null "/>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="prompt">{{prompt}}</div>-->
  <!--</nb-card-body>-->
</nb-card>
