<ngx-archive-no-vehicle
  [pageTitle]="'过户业务 - 预审过户 - 信息录入'"
  [archiveNo]="archiveNo"
  (_tradeList)="getTradeListByArchiveNoComponent($event)"
  (_trade)="getTradeByArchiveNoComponent($event)"
></ngx-archive-no-vehicle>
<ngx-ys-car-transfer
  [vehicleTransfer]="_formGroup.controls.vehicleTransfer"
  [certificateFormConfig]="vehicleTransferCertificateFormConfig"
></ngx-ys-car-transfer>
<ngx-ys-buyer-info *ngIf="trade"
  [buyer]="_formGroup.controls.buyer"
  [certificateFormConfig]="buyerCertificateFormConfig"
  [merchant]="trade.preVehicle.preVehicle.merchant"
  [cheshang]="trade.preVehicle.preVehicle.filingInfo"
></ngx-ys-buyer-info>

<div class="float-right">
  <button class="btn btn-primary btn-lg" (click)="onSubmit()">确认提交</button> &nbsp;
</div>
