<nb-card>
  <nb-card-header class="d-flex">
    <div class="p-2 mr-auto">IC卡密码修改</div>
    <div class="p2">  <a [routerLink]="'/pages/ic-card/card-manage'" class="btn btn-secondary btn-sm">返回</a></div>
  </nb-card-header>
   <nb-card-body>
        <div class="row form-inline form-group">
           <div class="col-md-2"><label for="">卡号：</label> </div>
           <div class="col-md-4">{{changePasswordModel.icCardNO}}</div>
        </div>
       <div class="row form-inline form-group">
         <div class="col-md-2"><label > 原密码：</label></div>
         <div class="col-md-4"><input type="password" class="form-control" placeholder="原密码"  [(ngModel)]="changePasswordModel.oldPassWord"> </div>
       </div>
       <div class="row form-inline form-group">
         <div class="col-md-2 "><label for=""> 新密码：</label> </div>
         <div class="col-md-4"><input type="password"  class="form-control" placeholder="新密码" [(ngModel)]="changePasswordModel.newPassWord"></div>
       </div>
     <div class="row form-inline form-group">
       <div class="col-md-2 "><label for="">确认新密码:</label> </div>
       <div class="col-md-4"><input type="password"  class="form-control" placeholder="确认新密码" [(ngModel)]="changePasswordModel.reNewPassword" ></div>
     </div>
     <div class="row form-inline form-group">
       <div class="col-md-2 text-center "> <button class="btn btn-sm  btn-warning" (click)="changePassword()">修改密码</button>  </div>
     </div>

   </nb-card-body>
</nb-card>
