<style>
   .business{
      border-bottom: 1px solid #e1e4e8
   }
</style>
<nb-card>
  <nb-card-header class="d-flex">
    <div class="p-2 mr-auto">{{marketName}}-市场证件</div>
    <div class="p4">
      <button type="button" class="btn btn-info btn-block" (click)='add()'>添加</button>
    </div>
  </nb-card-header>

 
  <nb-card-body>
      <div class="row business" >
          <ngx-market-photo-business  [business]='business' (clickActive)='selecctBusiness($event)' ></ngx-market-photo-business>
      </div>
      <div style="height:40px;"></div>
      <div class="row">
       <div class="">
          <ngx-market-photo-certificate-code  [CertifiCateCode]='CertificateCode'  (clickActive)='selectCertificateCode($event)'  ></ngx-market-photo-certificate-code>        
       </div>
       <div class="">
          <ngx-market-photo-form-name [formName]='formName' (clickActive)='selectFormName($event)' ></ngx-market-photo-form-name>  
       </div>
       <div class="col-md-6">
            <table class="table table-bordered table-striped"  border="1">
                <tr>
                   <th>名称</th>
                   <th>代号</th>
                   <th>状态</th>
                   <th>拍照顺序</th>
                   <th>最大张数</th>
                   <th>最小张数</th>
                   <th>备注</th>
                </tr>
                <tr *ngFor="let item of photoData" >
                  <td>{{item.name}}</td>
                  <td>{{item.cloudUser}}</td>
                  <td>{{item.status}}</td>
                  <td>{{item.sort}}</td>
                  <td>{{item.max}}</td>
                  <td>{{item.min}}</td>
                  <td>{{item.memo}}</td>
                </tr>
            </table>
       </div>
      </div>
    <!-- <ngx-table #codeList [url]="'/rest/sys/market/photo/config/pager'"  [columns]="columns" [filter]="filter"></ngx-table> -->
  </nb-card-body>
  <nb-card-footer>
    <div class="row">
      <div class="col-sm-1 col-sm-offset-11">
        <button type="button" class="btn btn-default btn-block" (click)='back()'>返回</button>
        <hr>
      </div>
    </div>
    <hr>
  </nb-card-footer>
</nb-card>
<!-- 1.业务类型 2.证件类型 3.表单名称 -->
