<nb-card>
    <nb-card-header>市场信息维护</nb-card-header>
    <nb-card-body>
        <form [formGroup]="form" (ngSubmit)="save()" class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>市场名称:</label>
                        <input type="text" class="form-control" formControlName="name" placeholder="市场名称" [ngClass]="{'form-control-danger':form.get('name').hasError('required') && form.get('name').touched}">
                    </div>
                    <div class="text-danger" *ngIf="form.get('name').hasError('required') && form.get('name').touched">
                        -- 必须输入市场名称
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>市场代码:</label>
                        <input type="text" class="form-control" formControlName="code" placeholder="市场代码" [ngClass]="{'form-control-danger':form.get('code').hasError('required') && form.get('code').touched}">
                    </div>
                    <div class="text-danger" *ngIf="form.get('code').hasError('required') && form.get('code').touched">
                        -- 必须输入市场代码
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>地区代码:</label>
                        <!-- <input type="text" class="form-control" formControlName="area" placeholder="地区代码" [ngClass]="{'form-control-danger':form.get('area').hasError('required') && form.get('area').touched}"> -->
                    </div>
                    <!-- <div class="text-danger" *ngIf="form.get('area').hasError('required') && form.get('area').touched">
                        -- 必须输入地区
                    </div> -->
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>备注:</label>
                        <input type="text" class="form-control" formControlName="memo" placeholder="备注">
                    </div>
                </div>
            </div>
            <div class="row">
                <ngx-table  [url]="'/rest/sys/marketmap/pager'" [columns]="columns" ></ngx-table>
            </div>

            <div class="row">
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-info btn-block" [disabled]="form.invalid">保存</button>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-default btn-block" (click)='back()' >返回</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>
