<nb-card>
   <nb-card-header>变更业务</nb-card-header>
   <nb-card-body>
        <div class="row ">
            <label for="email" class="col-md-1">流水号:</label>
            <div class="col-md-3 ">
              <input type="text" class="form-control" id="email" placeholder="请输入流水号。。">
            </div>
            <div class="col-md-4">
                 <button class="btn btn-sm btn-success"> 交易修改</button>
                 <button class="btn btn-sm btn-warning"> 换票</button>
                 <button class="btn btn-sm btn-danger">重开</button>
            </div>
        </div>
   </nb-card-body>
</nb-card>
