<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">预审录入</span>
      <ngx-ys-nav-step
        [steps]="_businessFormGroup.stepMenuPrejudicationRecording"
        [activeIndex]="1"
      ></ngx-ys-nav-step>
    </div>
  </nb-card-header>
  <nb-card-body>
  </nb-card-body>
</nb-card>
<div ngForm="_formGroup">
  <ngx-ys-seller-info
    [merchant]="businessTradeForm.preVehicle.preVehicle.merchant"
    [sellerObj]="_formGroup"
    [certificateFormConfig]="certificateFormConfig"
  ></ngx-ys-seller-info>
</div>
<div class="float-right">
  <button class="btn btn-primary btn-lg" (click)="onSubmit()">下一步</button>
</div>
