<nb-card>
  <nb-card-header class="d-flex">
    <div class="p-2 mr-auto">订单详情（）-</div>
    <!--<div class="p2">
      &lt;!&ndash;<a [routerLink]="'edit'" class="btn btn-primary btn-sm">新增</a>&ndash;&gt;
      <button type="button" class="btn btn-sm btn-outline-success" (click)="toggle()" [ngClass]="{'active':showFilter}" ><i class="ion-funnel"></i></button>
    </div>-->
  </nb-card-header>
  <nb-card-body>
    <table border="1">
      <tr>
        <th>产品名称</th>
        <th>流水号</th>
        <th>发票号</th>
        <th>车牌号</th>
        <th>手续费</th>
      </tr>
      <tr></tr>
    </table>
  </nb-card-body>
  <nb-card-body>
    <button class="btn btn-danger">撤销</button>
    <span>共<i></i>张发票&nbsp;&nbsp;&nbsp;<em>&#165;111</em>元</span>
  </nb-card-body>
  <nb-card-body>
    <button class="btn btn-primary" (click)="goBack()">返回</button>
  </nb-card-body>
</nb-card>
