<nb-card>
  <nb-card-header class="d-flex">
    <div class="p-2 mr-auto">IC转账</div>
    <div class="p2">
      <button type="button" class="btn btn-outline-success" (click)="readIccard()">启用读卡器</button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-lg-12">
        <nb-card>
          <nb-card-body>
            <select class="form-control reader">
              <option>读卡器选中状态</option>
              <option>转出卡</option>
              <option>转入卡</option>
            </select>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <nb-card>
          <nb-card-body>
            <div class="input-group">
              <span class="input-group-addon">转出卡号：</span>
              <input type="text" class="form-control" placeholder=""/>
            </div>
            <div class="input-group">
              <span class="input-group-addon">商户名称：</span>
              <label class="form-control" ></label>
            </div>
            <div class="input-group">
              <span class="input-group-addon">账户名称：</span>
              <label class="form-control" ></label>
            </div>
            <div class="input-group">
              <span class="input-group-addon">账户号：</span>
              <label class="form-control" ></label>
            </div>
            <div class="input-group">
              <span class="input-group-addon">当前余额：</span>
              <label class="form-control" ></label>
            </div>
            <div class="input-group">
              <span class="input-group-addon">充值余额：</span>
              <label class="form-control" ></label>
            </div>
            <div class="input-group">
              <span class="input-group-addon">赠送余额：</span>
              <label class="form-control" ></label>
            </div>
          </nb-card-body>
        </nb-card>

      </div>
      <div class="col-lg-6">
        <nb-card>
          <nb-card-body>
            <div class="input-group">
              <span class="input-group-addon">转入卡号：</span>
              <input type="text" class="form-control" placeholder=""/>
            </div>
            <div class="input-group">
              <span class="input-group-addon">商户名称：</span>
              <label class="form-control" ></label>
            </div>
            <div class="input-group">
              <span class="input-group-addon">账户名称：</span>
              <label class="form-control" ></label>
            </div>
            <div class="input-group">
              <span class="input-group-addon">账户号：</span>
              <label class="form-control" ></label>
            </div>
            <div class="input-group">
              <span class="input-group-addon">当前余额：</span>
              <label class="form-control" ></label>
            </div>
            <div class="input-group">
              <span class="input-group-addon">充值余额：</span>
              <label class="form-control" ></label>
            </div>
            <div class="input-group">
              <span class="input-group-addon">赠送余额：</span>
              <label class="form-control" ></label>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <!--<div class="row">

    </div>-->

    <div class="row">
      <div class="col-lg-12">
        <nb-card>
          <nb-card-body>
            <div class="input-group">
              <span class="input-group-addon">转账充值金额：</span>
              <input type="text" class="form-control" placeholder="" (click)="iccardText()"/>
            </div>
            <div class="input-group">
              <span class="input-group-addon">转账赠送金额：</span>
              <input type="text" class="form-control" (click)="iccardText()" placeholder=""/>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <nb-card>
          <nb-card-body >
            <button class="btn btn-success" (click)="iccardRecharge()">转账</button>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-card-body>
</nb-card>

