<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">预审录入</span>
      <ngx-ys-nav-step
        [steps]="_businessFormGroup.stepMenuPrejudicationRecording"
        [activeIndex]="3"
      ></ngx-ys-nav-step>
    </div>
  </nb-card-header>
  <nb-card-body>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>
    <div class="cameras-card-header">
      <span class="cameras-card-title">代办信息</span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">车牌号</span>
        <input class="form-control" type="text" readonly [ngModel]="businessTradeForm.preVehicle.preVehicle.plateNumber"/>
      </div>
      <div class="input-group">
        <span class="input-group-addon">代办商户</span>
        <input class="form-control" readonly [ngModel]="businessTradeForm.preVehicle.preVehicle.merchant.name" />
      </div>
    </div>
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-addon">代办人</span>
        <input class="form-control" type="text" readonly [ngModel]="businessTradeForm.preVehicle.preVehicle.filingInfo.name" />
      </div>
      <div class="input-group">
        <span class="input-group-addon">代办人手机</span>
        <input class="form-control" type="text" readonly [ngModel]="businessTradeForm.preVehicle.preVehicle.filingInfo.phone"/>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<ngx-ys-seller-info
  [merchant]="businessTradeForm.preVehicle.preVehicle.merchant"
  [sellerObj]="_formGroupSeller"
  [certificateFormConfig]="{certificateCode: businessTradeForm.seller.seller.certType,formName: '预审录入卖家'}"
  [btn_show]="false"
></ngx-ys-seller-info>
<ngx-ys-cardetail
  [vehicleObj]="_formGroupVechile"
  [certificateFormConfig]="{formName: '预审录入车辆'}"
></ngx-ys-cardetail>
<div class="float-right">
  <button class="btn btn-primary btn-lg" (click)="onSubmit()">确认提交</button>
</div>
