<nb-card>
  <nb-card-header class="d-flex">
    <div class="p-2 mr-auto">IC卡充值</div>
    <div class="p2">
      <button type="button" class="btn btn-outline-success" (click)="readIccard()">启用读卡器</button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="input-group">
      <span class="input-group-addon">卡号：</span>
      <label class="form-control">{{icCardInfo.CardNumber}}</label>
    </div>
    <div class="input-group">
      <span class="input-group-addon">账户名称：</span>
      <label class="form-control" >{{getCardData.icAccount.ownedAccount.accountName}}</label>
    </div>
    <div class="input-group">
      <span class="input-group-addon">当前余额：</span>
      <label class="form-control">{{getCardData.icAccount.balance}}</label>
    </div>
    <div class="input-group">
      <span class="input-group-addon" (click)="iccardText()">输入充值金额：</span>
      <input type="number" class="form-control" [(ngModel)]="iccardRechargemap.recharge" placeholder="充值金额"/>
    </div>
    <div class="input-group">
      <span class="input-group-addon" (click)="iccardText()">输入赠送金额：</span>
      <input type="number" class="form-control"  [(ngModel)]="iccardRechargemap.give" placeholder="赠送金额" />
    </div>
  </nb-card-body>
  <div class="height"></div>
  <nb-card-body>
    <button class="btn btn-success " (click)="recharge()">充值</button>
  </nb-card-body>
</nb-card>

