<nb-card>
  <nb-card-header class="d-flex">
    <div class="p-2 mr-auto">IC卡充值</div>
  </nb-card-header>
  <nb-card-body>
    <div class="input-group">
      <span class="input-group-addon">卡号：</span>
      <label class="form-control">{{iccardData.CardNumber}}</label>
    </div>
    <div class="input-group">
      <span class="input-group-addon">商户名称：</span>
      <label class="form-control" ></label>
    </div>
    <div class="input-group">
      <span class="input-group-addon">账户名称：</span>
      <label class="form-control" ></label>
    </div>
    <div class="input-group">
      <span class="input-group-addon">当前余额：</span>
      <label class="form-control">{{iccardData.BanlanceDisplay}}</label>
    </div>
    <div class="input-group">
      <span class="input-group-addon" (click)="iccardText()">输入充值金额：</span>
      <input type="text" class="form-control" [(ngModel)]="iccardRechargeData.amountDisplay"/>
    </div>
    <div class="input-group">
      <span class="input-group-addon" (click)="iccardText()">输入赠送金额：</span>
      <input type="text" class="form-control" placeholder=""/>
    </div>
  </nb-card-body>
  <div class="height"></div>
  <nb-card-body>
    <button class="btn btn-success " (click)="iccardRecharge()">充值</button>
    <button class="btn btn-success " (click)="readIccard()">读取</button>
  </nb-card-body>
</nb-card>

