<nb-card>
  <nb-card-header class="d-flex">
    <div class="p-2 mr-auto">IC卡充值</div>
    <div class="p2">
      <button type="button" class="btn btn-outline-success" (click)="readIccard()">启用读卡器</button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row form-inline form-group">
       <div class="col-md-2"><label for="">卡号：</label> </div>
       <div class="col-md-4">{{icCardInfo.CardNumber}}</div>
    </div>
    <div class="row form-inline form-group">
      <div class="col-md-2"><label for="">账户名称：</label> </div>
      <div class="col-md-4">{{getCardData.icAccount.ownedAccount.accountName}}</div>
    </div>
    <div class="row form-inline form-group">
      <div class="col-md-2"><label for="">当前余额：</label> </div>
      <div class="col-md-4">{{getCardData.icAccount.balance}} </div>
    </div>
    <div class="row form-inline form-group">
      <div class="col-md-2"><label for="">输入充值金额：</label> </div>
      <div class="col-md-4">
        <input type="number" class="form-control" [(ngModel)]="iccardRechargemap.recharge" placeholder="充值金额"/>
      </div>

    </div>
    <div class="row form-inline form-group">
      <div class="col-md-2"><label for="">输入赠送金额：</label> </div>
      <div class="col-md-4">
        <input type="number" class="form-control"  [(ngModel)]="iccardRechargemap.give" placeholder="赠送金额" />
      </div>
    </div>
    <div class="row form-inline form-group">
      <div class="col-md-2 text-center"><button class="btn btn-success " (click)="recharge()">充值</button> </div>
    </div>
  </nb-card-body>

</nb-card>

