<nb-card>
  <nb-card-header class="d-flex">
    <div class="p-2 mr-auto">转账查询</div>
    <div class="p2">
      <!--<a [routerLink]="'edit'" class="btn btn-primary btn-sm">新增</a>-->
      <button type="button" class="btn btn-sm btn-outline-success" (click)="toggle()" [ngClass]="{'active':showFilter}" ><i class="ion-funnel"></i></button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [@visibilityChanged]="visibility" (submit)="codeList.reload()">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group form-group-sm">
            <input class="form-control" [(ngModel)]="filter.code" name="code" type="text" placeholder="转出卡号"/>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group form-group-sm">
            <input class="form-control" [(ngModel)]="filter.name" name="name" type="text" placeholder="转入卡号"/>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group form-group-sm">
            <input class="form-control" [(ngModel)]="filter.name" name="name" type="text" placeholder="转出商户"/>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group form-group-sm">
            <input class="form-control" [(ngModel)]="filter.name" name="name" type="text" placeholder="转入商户"/>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group form-group-sm">
            <ngx-ys-calendar [placeholder]="'开始时间'"></ngx-ys-calendar>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group form-group-sm">
            <ngx-ys-calendar [placeholder]="'结束时间'"></ngx-ys-calendar>
          </div>
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn btn-primary btn-block"><i class="ion-search"></i>查询</button>
        </div>
        <!--<div class="col-sm-2">
          <button type="reset" class="btn btn-outline-primary btn-block">重置</button>
        </div>-->
      </div>
    </form>
    <ngx-table #codeList [url]="'/rest/sys/codemap/pager'"  [columns]="columns" [filter]="filter"></ngx-table>
  </nb-card-body>
</nb-card>
