<nb-card>
  <nb-card-header>证件信息维护</nb-card-header>
  <nb-card-body>
    <form [formGroup]="form" class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label>证件名称:</label>
            <input type="text" class="form-control" formControlName="name" placeholder="证件名称">
          </div>
          <ngx-valid-error [errors]="errors.name" [control]="form.get('name')"></ngx-valid-error>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>业务类型:</label>
            <!--<input type="text" class="form-control" formControlName="business" placeholder="业务类型">-->
            <div>
              <ngx-ys-codeitem-droplist   codeMap="businessType" formControlName="business"> </ngx-ys-codeitem-droplist>
            </div>
          </div>
          <ngx-valid-error [errors]="errors.business" [control]="form.get('business')"></ngx-valid-error>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>证件类型代码集:</label>
            <div>
              <ngx-ys-codeitem-droplist   codeMap="certType" formControlName="certificateCode"> </ngx-ys-codeitem-droplist>
            </div>
          </div>
          <ngx-valid-error [errors]="errors.certificateCode" [control]="form.get('certificateCode')"></ngx-valid-error>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>表单名称</label>
            <input type="text" class="form-control" formControlName="formName" placeholder="表单名称">
          </div>
          <ngx-valid-error [errors]="errors.formName" [control]="form.get('formName')"></ngx-valid-error>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label>照片类型</label>
            <div>
              <ngx-ys-codeitem-droplist codeMap="photoType" formControlName="photoType"> </ngx-ys-codeitem-droplist>
            </div>
          </div>
          <ngx-valid-error [errors]="errors.photoType" [control]="form.get('photoType')"></ngx-valid-error>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            选择状态
            <select name="" formControlName="status" class="form-control">
              <option value="">--选择状态--</option>
              <option value="01">必拍</option>
              <option value="02">不拍</option>
              <option value="03">选拍</option>
            </select>
          </div>
          <ngx-valid-error [errors]="errors.status" [control]="form.get('status')"></ngx-valid-error>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            拍照顺序
            <input type="text" class="form-control" maxlength="2" formControlName="sort" placeholder="拍照顺序">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            最大张数
            <input type="number" class="form-control" formControlName="max" placeholder="最大张数">
          </div>
          <ngx-valid-error [errors]="errors.max" [control]="form.get('max')"></ngx-valid-error>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            最小张数
            <input type="number" class="form-control" formControlName="min" placeholder="最小张数">
          </div>
          <ngx-valid-error [errors]="errors.min" [control]="form.get('min')"></ngx-valid-error>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>备注:</label>
            <input type="text" class="form-control" formControlName="memo" placeholder="备注">
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-sm-1">
            <button class="btn btn-info btn-sm" (click)='save()'>保存</button>
          </div>
          <div class="col-sm-1">
            <button class="btn  btn-default btn-sm" (click)="back()">返回</button>
          </div>
        </div>
    </form>
  </nb-card-body>
</nb-card>
