<form [formGroup]="form" (ngSubmit)="save()">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
                <input type="text" class="form-control" formControlName="city" placeholder="请添加所属城市名"
                  [ngClass]="{'form-control-danger':form.get('city').hasError('required') && form.get('city').touched}">
            </div>
            <div class="text-danger" *ngIf="form.get('city').hasError('required') && form.get('city').touched">
              -- 必须输入城市名，可添加多个
            </div>
          </div>
          <div class="col-sm-1">
              <button type="submit" class="btn btn-info btn-block" [disabled]="form.invalid">保存</button>
          </div>
        </div>
      </form>
      